script(src="/libs/jquery/dist/jquery.min.js")
link(href="/css/admin.css",rel="stylesheet")
//- Buttons 库的核心文件
link(rel="stylesheet",href="http://www.bootcss.com/p/buttons/css/buttons.css")
link(rel="stylesheet",href="/css/font-awesome.css")