script(src="/libs/jquery/dist/jquery.min.js")
script(src="/js/buttons.js")
//- Buttons 库的核心文件
link(rel="stylesheet",href="/css/buttons.css")
link(rel="stylesheet",href="/css/font-awesome.css")
	
link(href="/css/base.css",rel="stylesheet")
link(href="/css/admin.css",rel="stylesheet")