if !header_hide
	.footer
		.wrap
			h5 Like what you see?
			p Then give us a call and we'll chat through what
			p you need. We've got tea, coffee and biscuits!

			h6 01522 5282466
			h6 xxxx@hotmail.com
			h6 The Terrace, Grantham Street, Lincoln, LN2 1BD

script(src="/js/artalert.js")