if !header_hide
	.footer
		.wrap
			div.footer-info
				h5
					i.icon-comments.mr10
					| 商务咨询
				p 我们是一家专业的家具制造厂商，其制造范围有批量家具生产、家具定制、家具重设计，家具风格主要是以乡村风格、工业风格、宫廷风格及其他手工艺绘制风格为主，多年销往欧美及其周边多个国家
				p 如果你刚好有这方面的这方面的商务需求，或者是同行业者，都欢迎垂询，或通过右侧的留言栏发送消息给我们，我们收到信息后，将会以最短的时间内回复你
				h6 01522 5282466
				h6 xxxx@hotmail.com
				h6 The Terrace, Grantham Street, Lincoln, LN2 1BD
			from(action="/results", method="GET")
				ul.footer-message
					li(focus-tip-text="请输入名字")
						input(type="text", name="name", placeholder="请输入名字" )
					li(focus-tip-text="请输入电话号码")
						input(type="text", name="phone", placeholder="请输入电话号码")
					li(focus-tip-text="请输入电子邮箱地址")
						input(type="text", name="email", placeholder="请输入电子邮箱地址")
					li(focus-tip-text="请输入你的留言内容")
						textarea(name="infomation", placeholder="请输入你的留言内容")
					li
						button.footer-message-btn(type="submit") 确认发送
			br.clear
	.footer-bottom
		.wrap.tr
			a.cWhite(href="http://www.miitbeian.gov.cn/", target="_blank") 粤ICP备17070570号
			|	Copyright © 2017, All Rights Reserved 

script(src="/js/artalert.js")
script.
	$('.footer-message-btn').click(function(){
		alert('ddd')
	})
