if !header_hide
	.header
		.wrap
			h1
				a(href="/news") ICOOMTEST
			a(href="/shopcart").head_shopcart.fr
				i.icon-shopping-cart.mr10
				| 询价单
				b.head_shopcart_num 10
				div.head_shopcart_list

			ul.hmenu
				if newscategories && newscategories.length>0
					each cat in newscategories
						li: a(href="###") #{cat.name}
	script.
		$(function(){
			$('.iproduct_add_cart_btn').click(function(){
				arttip('<i class="icon-spinner icon-spin"></i>&nbsp;&nbsp;uploading...')
				var $that = $(this)
				if($that.hasClass('inCart')){
					arttipclose('已经存在购物车了',1000)
					return false;
				}

				var pid = $(this).parents('.iproduct').attr('id');
				$.ajax({
					type:"POST",
					url:'/shopcart/add',
					data:{"pid":pid},
					dataType:"json",
					async:false,
					cache:false,
					success: function(data){
						if(data.success===1){
							$that.addClass('inCart')
							arttipclose('已经存在购物车了',1000)
						}else if(data.success===2){
							arttipclose('成功放入购物车了')
							$('.head_shopcart_num').html(data.cart_goods_num)

						}
					}
				});
			});
		})