if !header_hide
	.header
		.wrap
			h2.logo
				a(href="/") ICOOMTEST
			a(href="/inquirylist").head_shopcart.fr.ml10
				i.icon-list.mr10
				| 询价单
				if cart_goods_num
					b.head_shopcart_num #{cart_goods_num}
				else
					b.head_shopcart_num N
				div.head_shopcart_list
			form(method="GET", action="/results")
				.head_search.fr
					input(type="text",name="q",value=searchword)
					button.h_search_btn.icon-search(type="submit")

			ul.hmenu
				if newscategories && newscategories.length>0
					each cat in newscategories
						li: a(href="###") #{cat.name}
	script.