script(src="/libs/jquery/dist/jquery.min.js")
link(href="/css/base.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")
//- Buttons 库的核心文件
link(rel="stylesheet",href="/css/buttons.css")
link(href="/css/font-awesome.css",rel="stylesheet")