.h60
#singn_menu
	.wrap
		//- h1.fl ICOOMTEST
		div.fr
			if user
				a(href="/user/#{user._id}")
					img(src='#{user.avatar}')
				span #{user.name}
				span &nbsp;&nbsp;|&nbsp;&nbsp;
				a.navbar-link(href="/logout")
					i.icon-signout.mr5
					| 退出登录
				if user.role > 50
					span &nbsp;&nbsp;|&nbsp;&nbsp;
						a(href="/admin/news/list")
							i.icon-cog.mr5
							| 后台管理
			else
				//- a.navbar-link(href="/signup", data-toggle="modal", data-target="#signupModal")
				a.navbar-link(href="/signup")
					i.icon-pencil.mr5
					| 注册
				span &nbsp;&nbsp;|&nbsp;&nbsp;
				//- a.navbar-link(href="/signin", data-toggle="modal", data-target="#signinModal")
				a.navbar-link(href="/signin")
					i.icon-user.mr5
					| 登录

script.
	var standScroll = 0;
	$(window).scroll(function(){
		var scroll = $(this).scrollTop();

		if(standScroll<scroll){
			$('#singn_menu').stop(true,false).animate({'bottom':-60},100);
		}else{
			$('#singn_menu').stop(true,false).animate({'bottom':0},100);
		}
		standScroll = scroll
	});



