doctype
html
	head
		meta(charset="utf-8")
		meta(name="robots" content="nofollow")
		link(href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		title #{title}
		block head
			link(rel="stylesheet" href="/css/buttons.css")
			link(href="/css/icons/font-awesome.css" rel="stylesheet")
				
			link(href="/css/base.css" rel="stylesheet")
			link(href="/css/admin.css" rel="stylesheet")
			script(src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js")
			script(src="/js/jquery_art_alert.js")
	body
		include menu
		block content