# ignore packages installed by npm
node_modules
vinte_db
public/libs/bootsrtap
public/libs/jquery
public/data
public/build
public/build/*

# put any other files you don't want to check in here,
# such as .DS_Store(OSX), *.bak, etc.
