/*产品搜索头部*/
.fiter-head-wrap{
	background-color:#cbe9e9;
	font-size:14px;
	height:42px;line-height:42px;
}
.fiter-head{
	background-color:rgba(255,255,255,.3);
	height:42px;
}
.fiter-head dt{
	float:left;
	border-right:1px solid white;
	background-color:#288;
	color:white;
	text-align:center;
	font-weight:bold;
	width:120px;
}
.fiter-head dd a,
.fiter-head dd span{
	float:left;
	padding:0 25px;
	border-right:1px solid white;
}
.fiter-head dd a{font-weight:bold;}
.fiter-head dd a.On{
	background-color:#b8e1e1;
	color:#033;
	position:relative;
}
.fiter-head dd a.On:before{
	content: "";
	position:absolute;
	left:0;right:0;
	width:100%;height:3px;
	background-color:#066;
}
.fiter-head dd a:nth-child(1),
.fiter-head dd a:nth-child(2),
.fiter-head dd span:nth-child(1),
.fiter-head dd span:nth-child(2){
	background-color:rgba(0,0,0,.05);
	width:60px;
	text-align:center;
	padding:0;
}
.fiter-head dd a:nth-child(1){
	color: #066;
}

/*产品搜索*/
.fiter-nav-wrap{
	border-top:1px solid white;
	margin-bottom:-1px;
	background-color:#e1f2f2;
}
.fiter-nav{
	font-size:14px;line-height:36px;
}
.fiter-nav dt{
	width:120px;
	float:left;text-align:center;
	background-color:#25a6a4;
	color:white;
	font-weight:bold;
}
.fiter-nav dd{
	font-size:12px;
	background-color:rgba(255,255,255,.5);
}
.fiter-nav dd a:first-of-type{
	background-color:#e5e5e5;
	color:#066;font-weight:bold;
	width:60px;padding:0;
	text-align:center;
}
.fiter-nav dd a{
	display:inline-block;
	background-color:#f5f5f5;
	padding:0 20px;
	border-left:1px solid white;
	border-bottom:1px solid white;
}
.fiter-nav dd a:hover{color:#25a6a4;}
.fiter-nav dd a.On{
	color:#25a6a4;font-weight:bold;
	text-shadow:1px 1px white;
	background-color:#eee;
	position:relative;
}
.fiter-nav dd a.On:before{
	content: "";
	position:absolute;
	top:0;right:0;
	border-style:solid;
	border-color:#25a6a4 transparent;
	border-width:10px 0 0 10px;
}