/* .goods_list h3{
	font-size:16px;
	color:#25a6a4;
	padding:10px 20px;
	background-color:#fbffff;
	border:1px solid #d9d9d9;
	margin-left:-2px;
	margin-top:-1px;
}
.goods_list h3 a{font-size:12px;} */
.goods-item{
	width:25%;
	border:1px solid transparent;
	box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    margin-left:-1px;
    margin-bottom: 8px;
    padding-bottom:10px;

}
.goods-item:hover{
	z-index:1;
	position: relative;
	border-color:#25a6a4;
	box-shadow:1px 1px 5px rgba(0,0,0,0.2);
}
.goods-item img{width:100%;max-height:245px;}
.goods-item .ip_description{
	padding:0 12px;
}
.goods-item li{line-height:18px;margin-top:8px;}

.ip_description{cursor:default;}
.ip_description li{
	margin-top:6px;
	min-height:20px;
}
.ip_title{
	display:block;
	font-size:14px;
	line-height: 20px;
	height: 40px;
	overflow:hidden;
	font-weight:bold;
	text-shadow:1px 1px 1px white;
}
.ip_title:hover{
	/* border-bottom:dashed 1px #555; */
	text-decoration: underline;
}
.ip_tag{
	font-size:10px;padding:2px 8px;margin-right:5px;
	height:20px;line-height:20px;
	color:#999;border:1px solid #bbb;
	border-radius:10px;
}
.ip_old_price,
.ip_price{
	display:inline-block;
	margin-top:3px;
}
.ip_old_price{
	color:#aaa;text-decoration:line-through;
	margin-left:10px;
}
.ip_price{
	font-weight:bold;font-size:16px;
	color:#c00;
}
/*.goods-item:hover .ip_description{
	transform:translateY(0);
	-webkit-transform:translateY(0);
}*/
span.igoods_add_cart_btn{
	float:right;font-size:12px;
	width:22px;height:22px;line-height:22px;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	text-align:center;
	border-color:#a00;color:#a00;
}
span.igoods_add_cart_btn:hover{
	background-color:#bbb;
	border-color:#333;
	color:#333;
	box-shadow:0 0 5px rgba(0,0,0,.3);
}
span.igoods_add_cart_btn.Stand{
	background-color:#a00;
	color:white;
	border-color:#a00;
	box-shadow:none;
}
/*收藏按键*/
.ip_favourite{position:relative;}
.ip_favourite i.icon-star{display:none;}
.ip_favourite.On{color:#c66;}
.ip_favourite.On i.icon-star{
	display:inline;
	/* color:#888; */
	color:#c66;
}
.ip_favourite.On i.icon-star-empty{display:none;}
.ip_favourite:hover{
	color:#555;
	border-color:#999;
}
.ip_favourite.On{background-color:#f6f6f6;}
.ip_favourite b{
	font-weight:normal;
	margin-left:3px;
}





/*二级页面产品样式*/
/* .sub-goods-frame-row3 .sub-page-goods{
	width:33.333%;
}
.sub-goods-frame-row4 .sub-page-goods{
	width:25%;
}
.sub-page-goods{
	display:inline-block;
	box-sizing:border-box;
	padding:10px 10px 0;
	margin-bottom:15px;
	font-size:12px;
}
.sub-page-goods img{
	width:100%;
} */

.my_favourite{
	color:#7f0019;
	cursor:pointer;
	font-size:16px;
	top:20px;right:20px;
	width:16px;height:16px;
}
.my_favourite i{
	position:absolute;top:0;left:0;
}
.my_favourite i.icon-heart{
	transform:scale(0,0)
}
.my_favourite:hover i.icon-heart{
	transform:scale(1,1)
}