
.body{background-color:#e4e7ea;}

.user_avatar{
	width:30px;height:30px;
	background-color:white;
	border:1px solid #aaa;border-radius:50%;
	padding:2px;
}
/*后台首页*/
.total-box{
	height:143px;
	border:1px solid #ddd;
	width:31%;float: left;
	margin-right:.5%;
	margin-bottom:15px;
}
.total-box h6{
	height:42px;line-height:42px;
	font-size:14px;padding-left:15px;
	background-color:#f7f7f7;
	border-bottom:1px solid #ddd;
}
.total-box div b{font-size:36px;}
.total-box div{
	height:100px;
	line-height:100px;
	text-align:center;
}
/*-------菜单----*/
.menu{
	position:fixed;top:0;left:0;z-index:11;
	width:210px;height:100%;
	background-color:#1d2939;
}

.menu dl{padding:15px;}
.menu dd i{margin-right:10px;}

.menuHead,
.menutoggle{
	height:50px;line-height:50px;
	background-color:white;cursor:pointer;
}
.menutoggle:hover{background-color:#f7f7f7;}
.menuHead{
	background-color:white;
	font-size:13px;text-align:center;
	font-weight:bold;position:relative;
}
.menuHead a{color:#1caf9a;}
.menutoggle{
	position:absolute;top:0;right:-50px;
	width:48px;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
}
.menuBtn,
.sMenu a{
	color:#8c989d;cursor:pointer;
	line-height:35px;display:block;
}
.menuBtn{
	font-size:14px;padding:0 13px;
	border-radius:3px;
	margin-top:3px;
}
span.menuBtn:before{
	content:"+";font-weight:bold;
	float:right;width:15px;display:inline-block;text-align:center;
}

span.menuBtn.Active:before{content:"-";}

.sMenu .Active{display:block;}
.menuBtn.Active,
.menuBtn:hover{background-color:white;color:#1d2939;}
.menuBtn.Stand,
.menuBtn.Stand:hover{color:white;background-color:#1caf9a;}
.sMenu{display:none;}
.sMenu a{
	font-size:12px;padding-left:38px;
	position:relative;
}
.sMenu a:hover,
.sMenu a.Stand{color:#1caf9a;}
.sMenu a:hover:before,
.sMenu a.Stand:before{border-color:transparent #1caf9a;}
.sMenu a:before{
	content:"";overflow:hidden;font-style:0;color:#8c989d;
	border-style:solid;position:absolute;top:14px;left:28px;
	border-color:transparent #8c989d;
	border-width:4px 0 4px 4px;
}


/*缩小*/
.menu.mMini{width:50px;}
.menu.mMini .menuHead h1{display:none;}
.menu.mMini .menutoggle{left:0;}
.menu.mMini dl{padding:5px;}
.menu.mMini .menuBtn:before{content:"";}
.menu.mMini .menuBtn span{display:none;}
.menu.mMini dd{position:relative;}
.menu.mMini .sMenu{position:absolute;left:0;width:180px;border-radius:0 0 3px;}
.menu.mMini dd i{margin-right:0;font-size:14px;}

.menu.mMini .sMenu{background-color:#1d2939;}
.menu.mMini .sMenu a{padding-left:55px;}
.menu.mMini .sMenu a:before{left:45px;}
.menu.mMini dd:hover{width:180px;box-shadow:2px 0px 3px rgba(0,0,0,0.2);}
.menu.mMini dd:hover .menuBtn{background-color:white;color:#1d2939;border-radius:3px 3px 0;}
.menu.mMini dd:hover .menuBtn.Stand{background-color:#1caf9a;color:white;}
.menu.mMini dd:hover .menuBtn span{
	display:inline-block;margin-left:18px;
}
.menu.mMini dd:hover .sMenu{display:block;}



.admin_wrap{
	margin-left:210px;
	background-color:#fafafa;
}



.news_img_list li {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	height: 100px;
	line-height: 100px;
	margin-right: 10px;
	overflow: hidden;
	width: 100px;
}
.news_img_list img{
	vertical-align: middle;
	width: 100px;
}


/*------------layout-----------*/
.headerbar{
	height:50px;width:100%;
	line-height:50px;
	background-color:white;
	position:fixed;z-index:1;
	top:0;left:0;
	border-bottom:1px solid #ddd;
	box-shadow:0 2px 4px rgba(0,0,0,0.1)
}
.headerbar span,
.headerbar a{
	height:50px;float:right;
	padding:0 15px;
	border-left:1px solid #eee;
	color:#555;font-size:12px;
}
.admin_menu{
	background-color:#1d2939;
	width:240px;height:100%;
	position:fixed;
	top:0;left:0;
	
}
.pageheader{
	margin-top:50px;color:#1d2939;
	background-color:#f7f7f7;
	border-bottom:1px solid #d3d7db;
	border-top:1px solid #eee;
	padding:15px;
	position:relative;
}
.pageheader i{
	border:2px solid #1d2939;
	border-radius:50px;
	font-size:24px;width:24px;text-align:center;
	display:inline-block;
	margin-right:15px;margin-left:5px;
	padding:6px 7px;
}
.contentpanel{padding:10px 20px 20px;background-color:white;}


/*产品类别*/
.admin_sarch_nav{
	border-top:3px solid #25a6a4;
}
.admin_sarch_nav_type{
	font-size:14px;line-height:28px;
	background-color:#f3f3f3;
	border-bottom:solid #cfcfcf 1px;
	border-top:solid white 1px;
}
.admin_sarch_nav_type dt{
	padding:6px 0;
	min-width:70px;padding-left:15px;
	float:left;
}
.admin_sarch_nav_type dd{
	min-height: 26px;
	padding:6px 0 6px 1%;font-size:12px;
	overflow:hidden;
	background-color:white;
}
/*.admin_sarch_nav_type dd span:hover{color:#25a6a4;}*/
.admin_sarch_nav_type dd span.On{
	color:#25a6a4;font-weight:bold;
	text-shadow:1px 1px white;
	background-color:#eee;
}
.admin_sarch_nav_type ul{
	background-color:#fafafa;
	margin-right:1%;border-radius:3px;
	width:20%;float:left;
	border:1px solid #ddd;
	padding:8px 10px;margin-bottom:8px;
}
.cat-name-first-li{
	display:block;
	line-height:20px;
	height:40px;
}
.admin_sarch_nav_type ul:hover{background-color:#f3f3f3;border-color:#d3d3d3;}
.admin_sarch_nav_type ul .button{
	line-height:24px;height:24px;padding:0 20px;
	border-radius:3px;margin-right:8px;
}

/*新建商品 分类label*/
.category_label label{
	cursor:pointer;
}
.category_label label span{
	/*position:absolute;top:0;left:0;*/
	font-size:14px;
	margin-right:10px;
	display:inline-block;
	box-sizing:box-sizing;
	border:1px solid #ddd;border-radius:3px;
	padding:0 10px;
}
.category_label label input,
.category_label label span .icon-check{
	display:none;}
.category_label label input:checked ~ span{
	border-color:#1caf9a;
	background-color:#1caf9a;color:white;
}
.category_label label input:checked ~ span .icon-check{display:inline-block;}
.category_label label input:checked ~ span .icon-check-empty{display:none;}


/*订单样式*/
.admin_order_head{
	line-height:32px;
}
.admin_order_head dt{
	background-color:#f3f3f3;margin-bottom:5px;
	font-weight:bold;padding:10px 15px;font-size:14px;}
.admin_order_head dd{padding:0 15px;font-size:12px;}

.admin_order_list_head{	
	background-color: #1d2939;
	color:white;
	font-size:15px;
	font-weight:bold;
	height:46px;line-height:46px;
	padding-left:20px;
	text-align:left;
}
.admin_order_left{
	width:70%;float:left;
	margin-right:15px;
}
.admin_order_right{
	width:28%;float:left;
}
.admin_order_right ul{
	/*height:100%;*/
	/*border:1px solid #ddd;*/
	background-color:#efefef;
	/*box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);*/
}
.admin_order_right li{
	padding:10px 15px;font-size:14px;
}
.admin_order_right li p{
	white-space:pre-wrap;
	word-wrap:break-word;
	text-indent:1em;
}
.admin_order_right li b{color:black;}
.admin_order_right li:nth-of-type(2n){
	background-color:#dfdfdf;
}

.admin_order_tip{
	height:30px;line-height:30px;
	background-color:#f5f5f5;
	border-radius:3px;
	padding:5px 15px;
}

/*用户详情*/
.user-info-frame{
	font-size:14px;
	line-height:2em;
	padding:25px;
	background-color:#f8f8f8;
	border-radius:5px;
}
.avatar{
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:white;
	border:1px solid #ddd;
	padding:3px;
}
.user-info{
	padding-left:25px;
	overflow:hidden;
}
.o-green-style,
.o-gray-style{
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	padding:3px 8px;
}
.o-green-style i,
.o-gray-style i{margin-right:4px;}
.o-green-style{
	border-color:#066;
	color:#066;
}
.o-gray-style{
	border-color:#777;
	color:#777;}