

#loading{
	visibility:visible;
	position:absolute;
	z-index:999;
	left:0;top:0;
	height:100px;width:100%;
	height:350px;
}
#loading span,
#loading b{
	position:absolute;
	top:50%;left:50%;
	margin-left:-4em;
	margin-top:-4em;
	width:8em;height:8em;
}
#loading span{
	border-radius:50%;
	box-shadow:0 3px 0.5px #25a6a4;
	-webkit-animation:rotate 1s infinite linear;
	animation:rotate 1s infinite linear;
}
#loading b{
	color:#066;
	text-align: center;
	font-size:24px;
	line-height:8em;
}
@-webkit-keyframes rotate{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

.slide-banner{
	height:350px;
	position:relative;
	width:530px;
	margin-top:15px;
	margin-bottom:60px;
	cursor:default;
}
.slide-banner-children-hide > *{
	visibility:hidden;
}
.slide-img{
	overflow: hidden;
	position: absolute;
	width: 40%;
	height: 40%;
	top: 30%;
	left: 50%;
	border-radius:2px;
	z-index: 1;
	opacity:0;
	box-shadow:inset -1px -1px 10px white;


    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(1px); /* Chrome, Opera */
       -moz-filter: blur(1px);
/*        -ms-filter: blur(1px);    
            filter: blur(1px);*/

	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-o-transition:all 0.4s;
	-ms-transition:all 0.4s;
	transition:all 0.4s;
}
.slide-img img{height:100%;width:100%;}
/*.slide-img:nth-child(3),*/
.slide-img.img3{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	opacity: 1;
	box-shadow:5px 5px 5px rgba(0,0,0,.3);
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(0px); /* Chrome, Opera */
       -moz-filter: blur(0px);
/*        -ms-filter: blur(0px);    
            filter: blur(0px);*/
}
/*.slide-img:nth-child(2),*/
.slide-img.img2,
/*.slide-img:nth-child(4),*/
.slide-img.img4{
	width: 70%;
	height: 70%;
	top: 15%;
	z-index: 3;
	opacity: 0.8;
	cursor:pointer;
}
.slide-img.img2:hover,
.slide-img.img4:hover{
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(0px); /* Chrome, Opera */
       -moz-filter: blur(0px);
/*        -ms-filter: blur(0px);    
            filter: blur(0px);*/
}
/*.slide-img:nth-child(2),*/
.slide-img.img2{
	left: -25%;
}
/*.slide-img:nth-child(4),*/
.slide-img.img4{
	left: 55%;
}


/*.slide-img:nth-child(1),*/
.slide-img.img1,
/*.slide-img:nth-child(5),*/
.slide-img.img5{
	width: 50%;
	height: 50%;
	top: 25%;
	z-index: 2;
	opacity: 0.2;
}
/*.slide-img:nth-child(1),*/
.slide-img.img1{
	left: -42%;
}
/*.slide-img:nth-child(5),*/
.slide-img.img5{
	left: 92%;
}

/*按键样式*/
.slide-btn{
	position: absolute;
	left: 50%;
	bottom: -35px;
	z-index: 10;
}
.slide-btn span{
	width: 20px;
	height: 6px;
	background-color: #c9caca;
	float:left;
	margin:5px;
	cursor:pointer;
	border-radius: 3px;
}
.slide-btn .on{background: #066;}


.slide-title-cn,
.slide-title-en{
	position:absolute;
	right:-200px;
	color:white;
	font-size:26px;
	opacity:0;
	text-shadow:
		1px 1px rgba(0,0,0,.5),
		-1px 1px rgba(0,0,0,.5),
		1px -1px rgba(0,0,0,.5),
		-1px -1px rgba(0,0,0,.5),
		2px 2px rgba(0,0,0,.5),
		-2px 2px rgba(0,0,0,.5),
		2px -2px rgba(0,0,0,.5),
		-2px -2px rgba(0,0,0,.5),
		0 0 8px rgba(0,0,0,0.5);
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	-ms-transition:all .5s;
	transition:all .5s;
}
.slide-img.img3 .slide-title-cn{padding-right:5px;}

.slide-img.img3 .slide-title-cn,
.slide-img.img3 .slide-title-en{
	opacity:1;
	right:35px;
}
.slide-title-cn{
	bottom:60px;
}
.slide-title-en{
	bottom:24px;
}