/*---------通用----------*/
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p{padding:0;margin:0;}

body{
	font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
	color:#333;
	line-height:1.7;
}
a{text-decoration:none;color:#333;outline:0 none;}
img{border:0 none;}
button:link{outline:0 none;border:0 none;}
button:active{outline:0 none;border:0 none;}
button:visited{outline:0 none;border:0 none;}
.tc{text-align:center;}
.animation{
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
ul,ol,li{list-style-type:none;}

/*字体颜色*/
.base-color{color:#25a6a4;}
.base-color-dark{color:#066;}
.cAaa{color:#aaa;}
.cGray{color:gray;}
.cRed{color:#c8181e;}
.cBlue{color:#0071bd;}
.cWhite{color:white;}
.cBlack{color:black;}
.cGreen{color:green;}

.block{display:block;}
.none{display:none;}

.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.fs0{font-size:0;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.cd{cursor:default;}
.cp{cursor:pointer;}

.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

.hide{display:none;}
.block{display:block;}
.inlineBlock{display:inline-block;}
.clear{clear:both;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}

.textUnSelect{
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.textUnderline{text-decoration:underline;}
.textUnderline:hover{text-decoration:none;}

/*arttip样式*/
.arttipbg{
	position:fixed;
	left:0;top:0;
	width:100%;height:100%;
	background-color:rgba(255,255,255,0.3);
	z-index:9998;
	display:none;
}
.arttip{
	position:fixed;
	bottom:-50%;left:50%;margin-left:-50px;
	opacity:0;
	min-width:100px;padding:10px 20px;
	line-height:30px;min-height:30px;
	border-radius:5px;
	background-color:rgba(0,0,0,0.8);
	/*border-style:solid;border-color:black;border-width:5px 5px 0 0;*/
	color:white;font-weight:bold;
	text-align:center;
	z-index:9999;
	animation:2s linear;
}
/*.arttip{
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
    transition:all 0.2s;}
.arttip.fadeDown{
	top:5%;
}*/

/*边距*/
.mt5{margin-top:5px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.p10{padding:10px;}
.p15{padding:15px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb50{padding-bottom:50px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
/*布局*/
.h60{height:60px;}
/*背景色*/
.bgBule{background-color:rgba(230,255,255,0.5);}
.bgYellow{background-color:#f8fed7;}


/*状态提示框*/
.tip-text-prompt{
	background-color:#e8f6f6;
	background-color:rgba(37,166,164,0.1);
}

/*---------表单----------*/
.form_horizontal{
	background-color:white;
	padding:2% 1.5% 1.5%;
	border:1px solid #ddd;border-radius:4px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.1);
}
.form_group{min-height:36px;margin-bottom:15px;}
.control_label{
	min-height:32px;padding-top:4px;
	float:left;width:8%;padding-right:2%;
	text-align:right;
	font-size:14px;font-weight:700;
}
.control_div{
	width:90%;
	float:left;
	min-height:1px;
}
.form_group input[type=text],
.form_group textarea{
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width:96%;
}
.form_group input[type=text]{height:18px;line-height:18px;}
.form_group textarea{line-height:24px;height:144px;resize:none;}
.form_group input[type=text]:focus{
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.product_size_input label{padding:0 10px;display:inline-block;font-size:14px;}
.product_size_input input[type=text]{
	width:50px;text-align:center;
	display:inline-block;
}

table{
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:14px;
	color:#333;
	line-height: 1.42857;
	background-color:white;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}
.table_striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
.table_bordered,
.table_bordered th,
.table_bordered td{
    border: 1px solid #ddd;
}
table th,
table td{
	padding:10px;
}
/*弹出框*/
.imodal{
	position:fixed;top:15%;left:50%;font-size:14px;
	width:50%;margin-left:-25%;
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	display:none;z-index:101;
}
.imodal-header{
	padding:10px 20px;font-weight:bold;color:#333;
	text-shadow:1px 1px white;
	border-radius:3px 3px 0 0;
	background-color:#eee;
	border-width:1px;border-style:solid;
	border-color:#e0e0e0 #e0e0e0 white;
	box-shadow:inset 1px 1px rgba(255,255,255,0.8);
}
.imodal-body{
	border-top:#e0e0e0 solid 1px;
	background-color:white;
	padding:25px 40px 10px 10px;
}
.imodal-footer{
	background-color:#fbfbfb;
	border-top:#e9e9e9 solid 1px;
	padding:10px;
	box-shadow:inset -1px -1px rgba(255,255,255,1),inset 1px 1px rgba(255,255,255,1);
}

/*-----分页-----*/
.page_stand,
.page_unclick,
.page a{
	display:inline-block;font-weight:bold;font-size:14px;
	min-width:36px;height:36px;line-height:36px;text-align:center;border-radius:4px;
	box-shadow:inset 1px 1px rgba(255,255,255,0.5);
	margin-right:5px;
}
.page a{
	background-color:#f0f0f0;
	border:1px solid #aaa;
	color:#333;
	text-shadow:1px 1px white;
}
.page a:hover{
	background-color:#e2e2e2;
	position:relative;
}
.page a.page_stand,
.page_stand{
	background-color:#38b6b4;
	border:1px solid #38b6b4;
	color:white;cursor:default;
	text-shadow:1px 1px #6095c9;
}
.page_unclick{
	background-color:#fcfcfc;
	border:1px solid #ccc;color:#aaa;
	cursor:url(http://www.easyicon.net/api/resizeApi.php?id=526852&size=16), auto;
}
.page > *[csstip]:before,
.page > *[csstip-top]:before{
	width:50px;
	text-align:left;
}
.page > *[csstip]:before,
.page > *[csstip-top]:before{
	background-color:#38b6b4;
	box-shadow:
		inset 1px 1px #6095c9,
		inset -1px -1px #6095c9,
		inset 2px 2px rgba(255,255,255,0.4);
	font-weight:bold;text-align:center;
	color:#00274d;text-shadow:1px 1px rgba(255,255,255,0.3);
}
.page > *[csstip]:after,
.page > *[csstip-top]:after{
	color:#85a8cb;}
/*----------csstip----------*/
*[csstip],
*[csstip-top]{
}
*[csstip]:before,
*[csstip]:after,
*[csstip-top]:before,
*[csstip-top]:after{
	position:absolute;
	cursor:default;
	display:none;
	height:28px;
	line-height:28px;
	text-shadow:none;
}
*[csstip]:before,
*[csstip-top]:before{
	left:0;font-size:12px;font-weight:normal;
	padding:0 10px;border-radius:4px;
	background-color:black;color:white;
	min-width:25px;
}
*[csstip]:before{content:attr(csstip);bottom:-40px;}
*[csstip-top]:before{content:attr(csstip-top);top:-40px;}

*[csstip]:after,
*[csstip-top]:after{
	content:'◆';font-family:sans-serif;
	font-size:16px;color:black;
	left:12px;
}
*[csstip]:after{bottom:-26px;}
*[csstip-top]:after{top:-26px;}

*[csstip]:hover:before,
*[csstip]:hover:after,
*[csstip-top]:hover:before,
*[csstip-top]:hover:after{
	display:block;
}