
.iproduct_list{
	font-size:0;
	margin-top:10px;
	padding-left:2px;
	border-top:0 none;
}
.iproduct_list h3{
	font-size:16px;
	color:#25a6a4;
	padding:10px 20px;
	background-color:#fbffff;
	border:1px solid #d9d9d9;
	margin-left:-2px;
	margin-top:-1px;
}
.iproduct_list h3 a{font-size:12px;}
.iproduct{
	display:inline-block;
	width:245px;height:245px;
	border:1px solid #d9d9d9;
	margin-left:-2px;
	margin-top:-1px;
	position:relative;
	overflow:hidden;
	box-sizing:box-sizing;
}
.iproduct,
.iproduct *{
	transition:all 0.5s;
	webkit-transition:all 0.5s;
}
.iproduct:first-child{
	/*margin-left:-1px;*/
}
.iproduct:hover{
	z-index:1;
	border-color:#25a6a4;
	box-shadow:1px 1px 5px rgba(0,0,0,0.2);
}
.iproduct img{width:100%;}
.iproduct .ip_bg{
	position:absolute;
	width:100%;height:100%;left:0;top:0;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), #fff);
	background-image:-webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.iproduct:hover .ip_bg{
	transform:translateY(0);
	-webkit-transform:translateY(0);
}
.iproduct li{margin-top:3px;}
.iproduct .ip_description{
	position:absolute;
	left:0;bottom:0;
	font-size:14px;
	display:block;
	padding:10px 15px 15px;
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.ip_title{font-size:14px;font-weight:bold;text-shadow:1px 1px 1px white;}
.ip_title:hover{border-bottom:dashed 1px #555;}
.ip_tag{
	font-size:10px;padding:2px 8px;margin-right:5px;
	height:20px;line-height:20px;
	color:#999;border:1px solid #999;
	border-radius:10px;
}
.ip_old_price{
	color:#aaa;text-decoration:line-through;
	margin-left:10px;
}
.ip_price{
	font-weight:bold;font-size:1em;
	color:#7f0019;
}
.iproduct:hover .ip_description{
	transform:translateY(0);
	-webkit-transform:translateY(0);
}
span.iproduct_add_cart_btn{
	float:right;font-size:12px;
	width:22px;height:22px;line-height:22px;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	text-align:center;
	border-color:#a00;color:#a00;
}
span.iproduct_add_cart_btn:hover{
	background-color:#bbb;border-color:#333;color:#333;
	box-shadow:0 0 5px rgba(0,0,0,.3);
}
span.iproduct_add_cart_btn.Stand{
	background-color:#a00;color:white;
	border-color:#a00;box-shadow:none;
}
.imaterial_list{height:150px;}
.imaterial_list a{
	width:33.3333%;height:150px;line-height:150px;
	background-size:100% auto;
	float:left;color:white;
	box-sizing:border-box;
	font-size:16px;
}
.imaterial_list a span{
	line-height:30px;
	display:inline-block;border:2px solid white;
	padding:4px 5px 4px 20px;border-radius:20px;
	text-shadow:1px 1px 0 rgba(0,0,0,.3);
}
.imaterial_list a span b{
	display:inline-block;text-align:center;
	width:30px;height:30px;
	border-radius:50%;margin-left:10px;
	background-color:rgba(255,255,255,.5);
	font-size:14px;
}
.imaterial_list a:nth-child(1n){background-color:rgba(51,153,255,.82);}
.imaterial_list a:nth-child(2n){background-color:rgba(51,153,204,.82);}
.imaterial_list a:nth-child(3n){background-color:rgba(51,153,153,.82);}
/*分类页面*/
.goodsSortFrameBg{
	background-size:auto 450px;
	background-position:top center;
}
.goodsSortFrame{
	padding:30px 25px 50px 330px;
	margin:0 auto;
	width:625px;
}
.goodsSort{border-top:4px solid #25a6a4;overflow:hidden;}
.goodsSort.goodsMaterial{
	background-color:white;
	background-color:rgba(255,255,255,.9);
	box-shadow:0 5px 10px rgba(0,0,0,.5);
}
.goodsSort.goodsMaterial .goodsSortDescription p{
	font-weight:800;
	font-size:15px;
	margin-bottom:10px;
	color:#333;
}
.goodsSortHead{
	min-height:94px;
	padding:15px 0 15px;
}
.goodsSortHead h2{
	width:80px;height:80px;line-height:80px;
	padding:4px;
	margin-left:15px;
	float:left;
	text-align:center;
	background-color:white;
	border:2px solid #25a6a4;
}
.goodsSortHead h2 span{
	background-color:#ededed;color:#25a6a4;
	display:block;
}
.goodsSortDescription{
	overflow:hidden;
	padding:0 15px;color:#555;
	font-size:14px;
	font-family:"proxima_nova",Arial,"Microsoft JhengHei","Microsoft Yahei","Heiti TC","PMingLiU",sans-serif;
}
.goodsSortBg{
	height:260px;width:100%;
	margin-top:15px;
	background-position:center center;
	background-size:auto 260px;
}
.type_side_nav{
	width:23%;float:left;
	padding-right:1%;
}
.type_side_nav dt,
.type_side_nav dd{
	font-size:14px;
	line-height:30px;
}
.type_side_nav dt{
	font-weight:bold;font-size:14px;
	border-top:4px solid #25a6a4;
	background-color:#eee;
	padding:5px 20px;
}
.type_side_nav dd{padding-top:3px;}
.type_side_nav dd a{
	background-color:#f5f5f5;
	display:block;color:#555;
	height:30px;
	padding:1px 20px;
	position:relative;
}
.type_side_nav dd a:hover{
	background-color:#eee;color:#222;
	transform:translateX(10px);
	-webkit-transform:translateX(10px);
}
.type_side_nav dd a.On{background-color:#d3e9e9;font-weight:bold;color:#222;}
.type_side_nav dd a:after,
.type_side_nav dd a:before{
	content:"";
	position:absolute;top:0;
	border-color:transparent white;
	border-style:15px 0 15px 15px;
}

.goodsMaterial_side_nav{
	position:absolute;top:30px;left:0;
	text-align:right;font-size:12px;font-weight:bold;
	width:330px;
}
.goodsMaterial_side_nav dt{
	border-top:4px solid #47bab8;
	display:inline-block;
	padding:10px 20px;
	background-color:#ededed;
}
.goodsMaterial_side_nav dd{margin-top:3px;}
.goodsMaterial_side_nav dd a{
	display:inline-block;
	
	background-color:#bbb;color:white;
	padding:5px 20px;
}
.goodsMaterial_side_nav dd a:hover{
	background-color:#47bab8;
	padding-left:30px;
}
.goodsMaterial_side_nav dd a.On{background-color:#25a6a4;}

/*二级页面产品样式*/
.sub_product_header{
	background-color:#d4e5e5;color:#0d6766;
	font-weight:bold;
	border-radius:3px;
	height:40px;line-height:40px;
	margin:10px 10px 0;padding:0 15px;
}
.sub_product_frame_row3 .sub_page_product{width:33.333%;}
.sub_product_frame_row4 .sub_page_product{width:25%;}
.sub_page_product{
	display:inline-block;
	box-sizing:border-box;
	padding:10px 10px 0;margin-bottom:8px;
	font-size:12px;
}
.sub_page_product img{
	width:100%;
}

.my_favourite{
	color:#7f0019;
	cursor:pointer;
	font-size:16px;
	top:20px;right:20px;
	width:16px;height:16px;
}
.my_favourite i{
	position:absolute;top:0;left:0;
}
.my_favourite i.icon-heart{
	transform:scale(0,0)
}
.my_favourite:hover i.icon-heart{
	transform:scale(1,1)
}

/*产品搜索*/
.sarch_nav{
	margin-top:5px;
	border-top:3px solid #25a6a4;
}
.search_nav_topline{border-top:3px solid #78e1df;}
.search_nav_type{
	font-size:14px;line-height:28px;
	background-color:#f3f3f3;
	border-bottom:solid #cfcfcf 1px;
	border-top:solid white 1px;
}
.search_nav_type dt{
	padding:6px 0;
	width:65px;padding-left:15px;
	float:left;
}
.search_nav_type dd{
	padding:6px 0;font-size:12px;
	margin-left:80px;
	background-color:white;
}
.search_nav_type dd a{
	display:inline-block;
	padding:0 6px;border-radius:3px;
	margin:0 10px;cursor:pointer;
}
.search_nav_type dd a:hover{color:#25a6a4;}
.search_nav_type dd a.On{
	color:#25a6a4;font-weight:bold;
	text-shadow:1px 1px white;
	background-color:#eee;
}

/*产品详情*/
.p_picture{
	width:400px;
}
.p_picture_cover img{width:400px;height:400px;}
.p_panel{
	overflow:hidden;
	padding-left:15px;
}
.p_panel dl{border-top:2px solid #25a6a4;}
.p_panel h1{font-size:16px;}
.p_panel_info{
	border-top:3px solid #25a6a4;
	padding:10px 15px;
	background-color:rgba(212,225,225,0.5);
	border-bottom:1px solid #ccc;
}
.p_panel_sort{
	background-color: #f7f7f7;
    border-bottom:1px solid #ccc;
    padding:10px 15px;
}
.p_sort_btn{
	font-size:10px;
	margin-top:5px;
	padding:2px;display:inline-block;
	border:2px solid #25a6a4;
}
.p_sort_btn span{
	background-color:rgba(0,0,0,.5);
	color:white;display:inline-block;
	text-align:center;
	padding:5px 12px;
}

.p_panel_add_cart{
	margin-top:15px;
	border:1px solid #ccc;
	padding:4px;
}
.p_panel_add_cart div{
	padding:10px;
	display:block;
	background-color:rgba(212,225,225,0.8);
}
.p_panel_add_cart div a{
	display:inline-block;
	background-color:#222;font-weight:bold;
	padding:8px 25px;border-radius:3px;
	color:white;font-size:14px;
}
.p_panel_price{
	line-height:32px;
	float: left;
	text-align: left;
	width:55%;
}
.line_through{
	text-decoration:line-through;
	color:#999;margin-bottom:-14px;
}

.p_detail{
	padding-left:165px;
	margin-bottom:15px;
}
.p_detail_container{
	border:1px solid #ddd;
	background-color:white;
	padding:12px;
}
.p_detail_container img{
	max-width:100%;
}
.p_detail_sort{
	font-size:12px;
	line-height:24px;
	margin-top:15px;
	margin-bottom:10px;
	box-shadow:none;
}
.p_detail_sort th{
	background-color:#eee;
	width:120px;
	box-shadow:inset 1px 1px white;
}

/*浏览过的商品*/
.side_nav_view_over{
	margin-top:15px;
	border:1px solid #ddd;
	background-color:#efefef;
	box-shadow:inset 1px 1px white;
}
.side_nav_view_over h5{
	font-size:12px;
	padding-left:5px;
	font-weight:bold;
	line-height:40px;
}
.side_nav_view_over img{
	width:60px;height:60px;
	margin-right:5px;
	float:left;
}
.side_nav_view_over a{
	height:60px;overflow: hidden;
	border-top:1px solid #ccc;
	line-height:20px;
	display:block;
	font-size:12px;
	padding:8px;
	box-shadow:inset 1px 1px white;
	word-break:break-all;
}
.side_nav_view_over a:hover{
	box-shadow:inset 1px 1px white,inset -2px -2px 8px rgba(0,0,0,.1);
	color:black;
}
/*-----侧边导航栏-----*/
.side_nav{
	float:left;width:150px;
	margin-right:15px;
}
.side_nav h2{line-height:30px;border-bottom:1px solid #ddd;font-size:14px;}
.snCategorylist{border-bottom:1px solid #ddd;}
.snCategorylist dt{
	font-weight:bold;font-size:14px;
	height:26px;line-height:26px;
	padding-top:5px;
}
.snCategorylist dd{
	font-size:12px;overflow:hidden;
	height:26px;line-height:26px;}
.snCategorylist a:hover,
.snCategorylist a.Stand{
	color:#0f807e;font-weight:bold;
}