

/*属性选中状态 未使用*/
/*.now-select-sort{
	height:36px;line-height:36px;
	background-color:#f6f6f6;
}
.now-select-sort .first-button,
.now-select-sort span,
.now-select-sort .select-button{
	float:left;
	font-size:12px;
	color:#066;
	font-weight:bold;
	border-left:1px solid rgba(255,255,255,.5);
	border-right:1px solid #e5e5e5;
	position:relative;
	background-color:#f3f3f3;
}
.now-select-sort .first-button{
	font-size:14px;
	padding:0 15px;
}
.now-select-sort span{
	padding:0 12px;
}
.now-select-sort .select-button{
	padding:0 15px;
	overflow:hidden;
}
.now-select-sort .select-button:before{
	content:"";
	position:absolute;
	top:0;right:0;
	border-style:solid;
	border-color:transparent #e5e5e5;
	border-width:0 10px 10px 0;
}
.now-select-sort a:hover{
	background-color:#e5e5e5;
	overflow: visible;
}
.now-select-sort .select-button:after{
	content: attr(css-tip);
	position:absolute;
	width:140px;line-height:30px;
	left:50%;bottom:-50px;
	margin-left:-70px;
	background-color:rgba(0,102,102,.8);color:white;
	border-radius:5px;
	text-align:center;
	font-size:12px;font-weight:normal;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
.now-select-sort .select-button:hover:after{
	bottom:-35px;
}*/
/*--end--*/



.iproduct_list{
	margin-top:10px;
	padding-left:2px;
	border-top:0 none;
}
.iproduct_list h3{
	font-size:16px;
	color:#25a6a4;
	padding:10px 20px;
	background-color:#fbffff;
	border:1px solid #d9d9d9;
	margin-left:-2px;
	margin-top:-1px;
}
.iproduct_list h3 a{font-size:12px;}
.iproduct{
	float:left;
	width:245px;height:360px;
	border:1px solid transparent;
	margin-left:-2px;
	margin-top:-1px;
	position:relative;
	background-color:white;
	/*box-sizing:box-sizing;*/
}
.iproduct,
.iproduct *{
	transition:all 0.5s;
	webkit-transition:all 0.5s;
}
.iproduct:hover{
	z-index:1;
	border-color:#25a6a4;
	box-shadow:1px 1px 5px rgba(0,0,0,0.2);
}
.iproduct img{width:245px;height:245px;}
.iproduct .ip_description{
	padding:0 12px;
}
.iproduct li{line-height:18px;margin-top:8px;}
/*.iproduct .ip_bg{
	position:absolute;
	width:100%;height:100%;left:0;top:0;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), #fff);
	background-image:-webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.iproduct:hover .ip_bg{
	transform:translateY(0);
	-webkit-transform:translateY(0);
}*/
/*.iproduct li{margin-top:3px;}*/
/*.iproduct .ip_description{
	position:absolute;
	left:0;bottom:0;
	font-size:14px;
	display:block;
	padding:10px 15px 15px;
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
}*/
.ip_description{cursor:default;}
.ip_description li{
	margin-top:6px;
	min-height:20px;
}
.ip_title{font-size:14px;font-weight:bold;text-shadow:1px 1px 1px white;}
.ip_title:hover{border-bottom:dashed 1px #555;}
.ip_tag{
	font-size:10px;padding:2px 8px;margin-right:5px;
	height:20px;line-height:20px;
	color:#999;border:1px solid #999;
	border-radius:10px;
}
.ip_old_price,
.ip_price{
	display:inline-block;
	margin-top:3px;
}
.ip_old_price{
	color:#aaa;text-decoration:line-through;
	margin-left:10px;
}
.ip_price{
	font-weight:bold;font-size:16px;
	color:#c00;
}
/*.iproduct:hover .ip_description{
	transform:translateY(0);
	-webkit-transform:translateY(0);
}*/
span.iproduct_add_cart_btn{
	float:right;font-size:12px;
	width:22px;height:22px;line-height:22px;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	text-align:center;
	border-color:#a00;color:#a00;
}
span.iproduct_add_cart_btn:hover{
	background-color:#bbb;border-color:#333;color:#333;
	box-shadow:0 0 5px rgba(0,0,0,.3);
}
span.iproduct_add_cart_btn.Stand{
	background-color:#a00;color:white;
	border-color:#a00;box-shadow:none;
}
/*收藏按键*/
.ip_love_btn:hover{
	color:#a00;
	border-color:#a00;
}

/*分类页面*/
.goods-sort-bg{
	/*background-size:auto 450px;*/
	background-position:top center;
}
.goodsSortFrame{
	padding:30px 25px 50px 330px;
	margin:0 auto;
	width:625px;
}
.goodsSort{border-top:4px solid #25a6a4;overflow:hidden;}
.goods-material{
	padding:15px 15px 20px;
	background-color:white;
	box-shadow:0 5px 10px rgba(0,0,0,.5);
}
/*.goodsSortHead{
	min-height:94px;
	padding:15px 0 15px;
}*/
.goods-material .head{
	font-size:18px;
	height:80px;line-height:80px;
	margin-top:5px;
	padding:4px;
	margin-right:15px;
	float:left;
	text-align:center;
	background-color:white;
	border:2px solid #25a6a4;
}
.goods-material .head span{
	background-color:#ededed;color:#25a6a4;
	display:block;
	padding:0 20px;
}
.goods-material .description{padding:0 5px 5px;}
.goods-material .description p{
	font-weight:600;
	font-size:13px;
	line-height:2em;
	letter-spacing:1.6px;
	margin-bottom:10px;
}
.goodsSortBg{
	height:260px;width:100%;
	margin-top:15px;
	background-position:center center;
	background-size:auto 260px;
}
.type_side_nav{
	width:23%;float:left;
	padding-right:1%;
}
.type_side_nav dt,
.type_side_nav dd{
	font-size:14px;
	line-height:30px;
}
.type_side_nav dt{
	font-weight:bold;font-size:14px;
	border-top:4px solid #25a6a4;
	background-color:#eee;
	padding:5px 20px;
}
.type_side_nav dd{padding-top:3px;}
.type_side_nav dd a{
	background-color:#f5f5f5;
	display:block;color:#555;
	height:30px;
	padding:1px 20px;
	position:relative;
}
.type_side_nav dd a:hover{
	background-color:#eee;color:#222;
	transform:translateX(10px);
	-webkit-transform:translateX(10px);
}
.type_side_nav dd a.On{background-color:#d3e9e9;font-weight:bold;color:#222;}
.type_side_nav dd a:after,
.type_side_nav dd a:before{
	content:"";
	position:absolute;top:0;
	border-color:transparent white;
	border-style:15px 0 15px 15px;
}

.goodsMaterial_side_nav{
	position:absolute;top:30px;left:0;
	text-align:right;font-size:15px;font-weight:bold;
	width:330px;
}
.goodsMaterial_side_nav dt{
	border-top:4px solid #47bab8;
	display:inline-block;
	padding:10px 20px;
	background-color:#ededed;
}
.goodsMaterial_side_nav dd{margin-top:5px;}
.goodsMaterial_side_nav dd a{
	display:inline-block;
	
	background-color:#bbb;color:white;
	padding:5px 20px;
}
.goodsMaterial_side_nav dd a:hover{
	background-color:#47bab8;
	padding-left:30px;
}
.goodsMaterial_side_nav dd a.On{background-color:#25a6a4;}

/*二级页面产品样式*/
.sub-product-header{
	background-color:#d4e5e5;color:#0d6766;
	font-weight:bold;
	border-radius:3px;
	height:40px;line-height:40px;
	margin-top:30px;padding:0 15px;
}
.sub-product-frame-row3 .sub-page-product{width:33.333%;}
.sub-product-frame-row4 .sub-page-product{width:25%;}
.sub-page-product{
	display:inline-block;
	box-sizing:border-box;
	padding:10px 10px 0;margin-bottom:8px;
	font-size:12px;
}
.sub-page-product img{
	width:100%;
}

.my_favourite{
	color:#7f0019;
	cursor:pointer;
	font-size:16px;
	top:20px;right:20px;
	width:16px;height:16px;
}
.my_favourite i{
	position:absolute;top:0;left:0;
}
.my_favourite i.icon-heart{
	transform:scale(0,0)
}
.my_favourite:hover i.icon-heart{
	transform:scale(1,1)
}

/*商城样式*/
/*.store-menu-wrap{
	background-color:#d8eeee;
	height:40px;line-height:40px;
	font-size:14px;
}
.store-menu dt{float:left;}
.store-menu dt a{
	background-color:#288;
	color:white;
	width:150px;
	text-align:center;
	font-weight:bold;
	display:block;
}
.store-menu dd{background-color:rgba(255,255,255,.1);font-size:0;}
.store-menu dd a{
	font-size:14px;
	padding-left:35px;
	padding-right:35px;
	font-weight:bold;
	border-left:1px solid white;
	display:inline-block;
	background-color:#add;
}
.store-menu dd a:first-of-type{
	width:48px;padding:0;text-align:center;
	background-color:rgba(0,0,0,.05);
}
.store-menu dd a:hover{background-color:#c5e3e3;}
.store-menu dd a.On{
	color:white;
	background-color:#2aa;
	position:relative;
}
.store-menu dd a.On:before{
	content: "";
	position:absolute;
	top:0;right:0;
	border-style:solid;
	border-color:#066 transparent;
	border-width:10px 0 0 10px;
}

.sort-side-menu{
	width:180px;
	line-height:36px;
	font-size:14px;
}
.sort-side-menu dl{background-color:#eee;}
.sort-side-menu dt{
	background-color:#c5e3e3;
	font-weight:bold;
	padding-left:25px;
	color:#066;
}
.sort-side-menu dd{
	border-top:1px solid white;
}
.sort-side-menu a{
	font-size:13px;
	display:block;
	text-align:left;
	color:#066;
	padding-left:25px;
}
.sort-side-menu a.attrStanBtn{background-color:#d8eeee}
.sort-side-menu a:hover{background-color:#d8eeee}*/
/*产品搜索头部*/
.fiter-head-wrap{
	background-color:#cbe9e9;
	font-size:14px;
	height:42px;line-height:42px;
}
.fiter-head{
	background-color:rgba(255,255,255,.3);
	height:42px;
}
.fiter-head dt{
	float:left;
	border-right:1px solid white;
	background-color:#288;
	color:white;
	text-align:center;
	font-weight:bold;
	width:120px;
}
.fiter-head dd a,
.fiter-head dd span{
	float:left;
	padding:0 25px;
	border-right:1px solid white;
}
.fiter-head dd a{font-weight:bold;}
.fiter-head dd a.On{
	background-color:#b8e1e1;
	color:#033;
	position:relative;
}
.fiter-head dd a.On:before{
	content: "";
	position:absolute;
	left:0;right:0;
	width:100%;height:3px;
	background-color:#066;
}
.fiter-head dd a:first-child,
.fiter-head dd span:first-child{
	background-color:rgba(0,0,0,.05);
	width:60px;text-align:center;
	padding:0;
	float:left;
}

/*产品搜索*/
.fiter-nav-wrap{
	border-top:1px solid white;
	margin-bottom:-1px;
	background-color:#e1f2f2;
}
.fiter-nav{
	font-size:14px;line-height:36px;
}
.fiter-nav dt{
	width:120px;
	float:left;text-align:center;
	background-color:#25a6a4;
	color:white;
	font-weight:bold;
}
.fiter-nav dd{
	font-size:12px;
	background-color:rgba(255,255,255,.5);
}
.fiter-nav dd a:first-of-type{
	background-color:#e5e5e5;
	color:#066;font-weight:bold;
	width:60px;padding:0;
	text-align:center;
}
.fiter-nav dd a{
	display:inline-block;
	background-color:#f5f5f5;
	padding:0 20px;
	border-left:1px solid white;
	border-bottom:1px solid white;
}
.fiter-nav dd a:hover{color:#25a6a4;}
.fiter-nav dd a.On{
	color:#25a6a4;font-weight:bold;
	text-shadow:1px 1px white;
	background-color:#eee;
	position:relative;
}
.fiter-nav dd a.On:before{
	content: "";
	position:absolute;
	top:0;right:0;
	border-style:solid;
	border-color:#25a6a4 transparent;
	border-width:10px 0 0 10px;
}

/*产品详情*/
.p_picture{
	width:400px;
}
.p_picture_cover img{width:400px;height:400px;}
.p_panel{
	overflow:hidden;
	padding-left:15px;
}
.p_panel dl{border-top:2px solid #25a6a4;}
.p_panel h1{font-size:16px;}
.p_panel_info{
	border-top:3px solid #25a6a4;
	padding:10px 15px;
	background-color:rgba(212,225,225,0.5);
	border-bottom:1px solid #ccc;
}
.p_panel_sort{
	background-color: #f7f7f7;
    border-bottom:1px solid #ccc;
    padding:10px 15px;
}
.p_sort_btn{
	font-size:10px;
	margin-top:5px;
	padding:2px;display:inline-block;
	border:2px solid #25a6a4;
}
.p_sort_btn span{
	background-color:rgba(0,0,0,.5);
	color:white;display:inline-block;
	text-align:center;
	padding:5px 12px;
}

.p_panel_add_cart{
	margin-top:15px;
	border:1px solid #ccc;
	padding:4px;
}
.p_panel_add_cart div{
	padding:10px;
	display:block;
	background-color:rgba(212,225,225,0.8);
}
.p_panel_add_cart div a{
	display:inline-block;
	background-color:#222;font-weight:bold;
	padding:8px 25px;border-radius:3px;
	color:white;font-size:14px;
}
.p_panel_price{
	line-height:32px;
	float: left;
	text-align: left;
	width:55%;
}
.line_through{
	text-decoration:line-through;
	color:#999;margin-bottom:-14px;
}

.p_detail{
	padding-left:165px;
	margin-bottom:15px;
}
.p_detail_container{
	border:1px solid #ddd;
	background-color:white;
	padding:12px;
}
.p_detail_container img{
	max-width:100%;
}
.p_detail_sort{
	font-size:12px;
	line-height:24px;
	margin-top:15px;
	margin-bottom:10px;
	box-shadow:none;
}
.p_detail_sort th{
	background-color:#eee;
	width:120px;
	box-shadow:inset 1px 1px white;
}

/*浏览过的商品*/
.side_nav_view_over{
	margin-top:15px;
	border:1px solid #ddd;
	background-color:#efefef;
	box-shadow:inset 1px 1px white;
}
.side_nav_view_over h5{
	font-size:12px;
	padding-left:5px;
	font-weight:bold;
	line-height:40px;
}
.side_nav_view_over img{
	width:60px;height:60px;
	margin-right:5px;
	float:left;
}
.side_nav_view_over a{
	background-color:white;
	height:60px;overflow: hidden;
	border-top:1px solid #ccc;
	line-height:18px;
	display:block;
	font-size:12px;
	padding:8px;
	box-shadow:inset 1px 1px white;
	word-break:break-all;
}
.side_nav_view_over a:hover{
	box-shadow:inset 1px 1px white,inset -2px -2px 8px rgba(0,0,0,.1);
	color:black;
}
/*-----侧边导航栏-----*/
.goods-side-nav{
	float:left;width:150px;
	margin-right:15px;
	cursor:default;
}
.goods-side-nav h2{
	background-color:#cee;
	line-height:38px;
	font-size:14px;
	text-indent:.3em;
}
.goods-side-list{line-height:34px;}
.goods-side-list dt{
	background-color:#dee;
	font-weight:bold;font-size:14px;
	padding-top:5px;
	text-indent:.3em;
}
.goods-side-list dd{
	font-size:12px;overflow:hidden;
	background-color:#f3f3f3;
}
.goods-side-list dd:nth-child(2n){
	background-color:#fafafa;
}
.goods-side-list dd a{display:block;text-indent:.3em;}
.goods-side-list a:hover,
.goods-side-list a.Stand{
	color:#0f807e;font-weight:bold;
}