
/*-----头部-----*/
.wrap{max-width:980px;margin-left:auto;margin-right:auto;}
.header_top{
	height:26px;
	line-height:26px;color:#555;
	background-color:#f7f7f7;
	font-size:12px;
	text-align:right;
}
.header_top a{color:#555;}
.header_top a:hover{
	color:black;
	border-bottom:dashed 1px #999;
}
.header{
	height:60px;
}
.header .logo{
	float:left;
	line-height:60px;height:60px;
	overflow:hidden;
	font-size:0;
}
.header .logo a{color:#25a6a4;font-size:28px;}
.hmenu{
	float:right;
	padding-top:10px;
	line-height:40px;
}
.hmenu li{display:inline-block;width:100px;text-align:center;}
.hmenu li a{color:#25a6a4;}

span.head_btn_style,
a.head_btn_style{
	height:32px;line-height:32px;
	font-size:14px;
	background-color:#eee;
	color:#333;
	border-radius:3px;
	border:1px solid #ccc;
	box-shadow:inset 1px 1px white;
	margin-top:18px;
	position:relative;
}
a.head_btn_style{
	padding:0 15px;
}
a.head_btn_style b{
	position:absolute;top:-10px;right:-10px;
	border-radius:50%;border:2px solid #d00;
	width:16px;height:16px;line-height:16px;
	text-align:center;font-size:12px;
	background-color:#e00;color:white;
}
span.head_btn_style a{
	padding:0 12px;
}
.login_before{
	margin-top:18px;
	font-size:14px;
	height:34px;
	line-height:34px;
	color:#aaa;
}
.login_before img{
	width:32px;height:32px;
	border-radius:17px;
	border:1px solid #aaa;
	float:left;
}

.head_search,
.head_search button{
	height:32px;line-height:32px;
}
.head_search{
	background-color:white;
	margin-top:18px;
	border-radius:3px;
	border:1px solid #ccc;
}
.head_search input[type='text']{
	float:left;background-color:transparent;
	height:30px;line-height:30px;
	border:0 none;text-indent:0.7em;
}
.head_search button{
	border:none 0;
	cursor:pointer;
	background-color:#eee;
	box-shadow:inset 1px 1px white;
	text-shadow:1px 1px white;
	float:right;
	padding:0 10px;
	border-left:1px solid #ddd;
}
.search_word_tip{
	border:1px #ddd solid;
	background-color:white;
	border-radius:2px;
	font-size:14px;
	height:32px;line-height:32px;
}
/*-----脚部-----*/
.footer-top{
	height:8px;margin-top:15px;
	background-image:url(../images/foot-bg.png);
	background-size:15px 8px;
}
.footer{
	background-color:#25a6a4;
	padding:30px 0;
	color:#e1fdfd;
	font-size:13px;
	line-height:1.6em;
}
.footer-info{
	float:left;
	width:60%;
	padding-right:2%;
	border-width:0 1px 0 0;
}
.footer-message{
	margin-top:2px;
	float:left;
	width:35%;
	padding-left:2%;
}
.footer-message li{
	margin-bottom:10px;position:relative;
}
.footer-message li b{
	position:absolute;right:12px;top:7px;
	font-size:14px;
}
.footer-message li b.icon-ok-sign{color:#066;}
.footer-message li b.icon-exclamation-sign{color:#25a6a4;}
.footer-message input[type=text],
.footer-message textarea{
	border:0 none;
	outline:0 none;
	border-radius:2px;
	font-size:12px;
	font-family:MicroSoft Yahei;
	background-color:rgba(255,255,255,0.8);
}
.footer-message input[type=text]{
	width:99%;
	text-indent:10px;
	line-height:28px;
	height:28px;
}
.footer-message textarea{
	width:93.7%;
	line-height:22px;
	height:88px;
	padding:0.2em 0.8em;
	resize:none;
}

.footer p{margin-bottom:10px;}
.footer h5{font-size:1.5em;margin-bottom:10px;color:white;}
.footer h6{font-size:1em;margin-top:5px;}
.footer-bottom{
	background-color:#006f6d;
	font-size:12px;
	line-height:46px;height:46px;
}
.footer-bottom,
.footer-bottom a{
	color:rgba(255,255,255,.5);}

*[focus-tip-text]{
	position:relative;
	overflow:hidden;
}
*[focus-tip-text]:hover{
	overflow:visible;
}
*[focus-tip-text]:before{
	content:attr(focus-tip-text);
	position:absolute;
	background-color:#066;color:white;
	padding:0 12px;
	font-size:12px;
	line-height:30px;
	top:-30px;
	left:0;
	-webkit-transform:translateY(-10px);
	transform:translateY(-10px);
	opacity:0;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
*[focus-tip-text]:hover:before{
	-webkit-transform:translateY(-2px);
	transform:translateY(-2px);
	opacity:1;
}
*[focus-tip-text] *:focus{
	box-shadow:1px 1px rgba(0,0,0,.3),inset 3px 3px 2px rgba(0,0,0,.15);
}

.footer-message-btn{
	background-color:#066;
	border:2px solid #066;
	box-shadow:inset 1px 1px rgba(255,255,255,.2);
	color:white;
	font-size:14px;
	display:inline-block;
	height:38px;
	padding:0 15px;
	border-radius:5px;
}

/*-----登录插件------*/
/*#singn_menu{
	position:fixed;z-index:10;
	bottom:0;left:0;
	border-top:1px solid #b9d5d5;
	border-bottom:1px solid #d5efef;
	width:100%;height:42px;line-height:42px;
	background-color:#d4e1e1;
	box-shadow:-2px 0 15px rgba(0,0,0,0.1);
}
#singn_menu span,#singn_menu a{
	font-size:14px;color:#004c4b;
}
#singn_menu img{
	width:45px;height:45px;
	border-radius:50%;
	display:inline-block;
	background-color:white;
	border:5px solid #b9d5d5;
	float:left;
	margin-top:-15px;margin-right:10px;
}*/
/*-----海报----*/
.bannerFrame,
.banner li{
	height:500px;width:800px;
	overflow:hidden;
}
.banner{width:9999px;padding:0;}
.banner img{width:900px;}
.bannerFrame{position:relative;margin-bottom:20px;}
.banner li{
	float:left;
	list-style:none;
	position:relative;
}
.txtBg{
	position:absolute;
	top:-30%;
	width:80%;height:200%;
	transform:rotate(-30deg);
	/*background-color:rgba(0,0,0,0.4);*/
	left:-200%;opacity:0;
}
.banner li.Stand .txtBg{
	animation:txtBgShow 0.5s linear;
	animation-fill-mode:forwards;
}
@keyframes txtBgShow{
	100%{opacity:0.6;left:-35%;;}
}
.banner li h3,
.banner li p{
	position:absolute;
	left:30px;color:white;opacity:0;
	transform:translateY(20px);
}
.banner li h3{
	bottom:35%;width:40%;padding-bottom:5px;
	transform:translateY(20px);
}
.banner li p{
	top:66%;width:45%;font-size:14px;
	transform:translateY(-10px);
}
.banner li.Stand h3,
.banner li.Stand p{
	animation:showUp 0.2s linear;
	animation-fill-mode:forwards;
}
.banner li.Stand h3{
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	animation-delay:0.5s;
}
.banner li.Stand p{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	-ms-animation-delay:1s;
	animation-delay:1s;
}
@keyframes showUp{
	100%{opacity:1;transform:translateY(0);}
}
.JDT{
	position:absolute;left:30px;
	bottom:35%;width:40%;height:1px;
	background-color:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.3);
}
.JDT.onLoad:before{
	content:'';position:absolute;
	height:1px;background-color:rgba(255,255,255,0.9);
	width:0;
	animation:onLoad 6.5s linear;
	animation-fill-mode:forwards;
}
@keyframes onLoad{
	80%{width:100%;}
	100%{width:100%;}
}

.news_img_list li{
	display:inline-block;margin-right:10px;
	background-color:white;
	border-radius:3px;border:1px solid #ccc;
	width:100px;height:100px;line-height:100px;overflow:hidden;
}
.news_img_list img{
	width:100px;
	vertical-align:middle;
}


.btnBg{
	position:absolute;left:0;bottom:15px;
	/*background-color:rgba(0,0,0,0.1);*/
	padding-left:30px;height:36px;
}
.btnBg span{
	height:14px;width:14px;
	border:2px solid white;
	border-radius:50%;
	display:inline-block;
	margin:10px 8px 0;
	position:relative;
	cursor:pointer;
}
.btnBg span:before{
	content:"";
	position:absolute;left:0;right:0;
	background-color:rgba(255,255,255,1);
	height:14px;width:14px;
	border-radius:50%;
	transform:scale(0);
	transition:all 0.3s;
}
.btnBg span.On:before,
.btnBg span:hover:before{
	transform:scale(0.7);
}


.loadingFrame{
	width:100%;height:100%;
	background-color:#1ea6ce;color:white;
	font-family:sans-serif;
	position:relative;z-index:1;
	text-align:center;
}
.loadingFrame dt{
	padding-top:10%;
	font-size:26px;
}
.loadingFrame dd{
	background-color:white;
	display:inline-block;
	width:10px;height:10px;border-radius:5px;
}

.content_frame{
	border-radius:3px;
	border:1px solid #ddd;
	padding:0 1.5% 1.5%;
}
.content_frame h2{
	border-bottom:1px solid #ddd;padding-bottom:10px;
}
.content_frame img{max-width:100%;}


/*---------------文章首页------------*/
/*.bg_zindex{position:relative;z-index:1;}*/
.bg_fixed{
	position:fixed;top:0;left:0;z-index:-1;
	width:100%;height:100%;
	background-position:right top;
	background-repeat:no-repeat;
	background-image:linear-gradient(-30deg, rgba(100,100,100,0.1) 50%, transparent 50%);
	background-size:100% 100%;
}
.news_list{
	cursor:default;
}
.news_list_info{
	font-size:12px;color:#666;
	height:24px;line-height:24px;
	/*margin-bottom:4px;*/
	margin-top:20px;
	position:relative;
	background-color:rgba(0,0,0,0.1);
	border-radius:3px 3px 0 0;
	box-shadow:inset -1px 1px rgba(30,30,30,0.1);
}
.news_list_info_line{
	height:1px;background-color:rgba(255,255,255,0.3);
	position:relative;z-index:1;margin-top:-1px;
}
.news_list_tag{
	background-color:#25a6a4;
	padding:0 6px;border-radius:3px 3px 3px 0;
	margin-right:15px;
	color:white;
	display:inline-block;
	position:relative;
}
.news_list_tag:after{
	content:"";
	border-style:solid;border-width:10px 0 10px 10px;
	border-color:transparent #25a6a4;
	position:absolute;top:2px;right:-6px;
}
.news_list_content,
.news_content{
	background-color:white;
	border:1px solid #ccc;
	box-shadow:2px 2px 3px rgba(0,0,0,0.1);
	border-radius:0 0 3px 3px;
	padding:1.5% 2.5%;
}
.news_list_content h2 a{
	color:#25a6a4;text-decoration:none;
}
.news_list_content h2 a:visited {color:#189593;}
.news_list_content p,
.admin_news_list_content{
	padding-bottom:10px;
	font-size:14px;color:#666;
	line-height:1.7em;
}
.news_list_content p{padding-top:10px;}
.loadMore{
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
	background-color:#f2f2f2;
	line-height:2.4em;
	font-size:14px;
	margin-top:15px;
	text-shadow:1px 1px white;
	box-shadow:inset 1px 1px white;
	color:#333;cursor:pointer;
}
.loadMore:hover{
	background-color:#efefef;
	border-color:#ccc;
	box-shadow:inset 1px 1px white,2px 2px 2px rgba(0,0,0,0.1);
}
.loadMore:active{
	background-color:#f9f9f9;
	box-shadow:inset 1px 1px white
}
/*----------新闻详情页----------*/
.news_content h2{
	color:#25a6a4;
}
.news_content img{
	max-width:100%;
}
/*评论区*/
.comment{
}
.comment h6{
	background-color:#eaffff;
	color:#004847;
	font-size:1em;
	line-height:36px;
	height:36px;
	padding-left:15px;
}
.c_body{
	padding:10px 2.5% 10px 60px;
	font-size:14px;
	position:relative;
	border-bottom:1px dashed #ddd;
}
.c_bing{
	background-color:rgba(230,255,255,0.3);
	transform:translateY(-30%);
	animation: twinkling 1s infinite ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	-webkit-transform:translateY(-30%);
	-webkit-animation: twinkling 1s infinite ease-in-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode:forwards;
}
@keyframes twinkling{
	0%{
		opacity:0;
		transform:translateY(-30%);
	}
	100%{
		opacity:1;
		transform:translateY(0);
	}
}
@-webkit-keyframes twinkling{
	0%{
		opacity:0;
		-webkit-transform:translateY(-30%);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
	}
}
div.c_body{
	border:1px solid #85c8c7;
	background-color:#f3fefe;
	border-radius:5px;
	margin-top:15px;
	box-shadow:inset 2px -2px white);
}
div.c_body:after,
div.c_body:before{
	content:"";
	position:absolute;left:20px;
	border-style:solid;
	border-width:0 10px 10px;
}
div.c_body:before{
	border-color:#85c8c7 transparent;
	top:-10px;
}
div.c_body:after{
	border-color:#f3fefe transparent;
	top:-9px;
}
.c_avatar{
	width:34px;height:34px;
	overflow:hidden;
	border-radius:22px;
	background-color:white;
	border:1px solid #25a6a4;
	position:absolute;
	left:10px;top:15px;
}
.c_avatar img{
	height:32px;
	width:32px;
}
.c_comment{
	line-height:24px;
	min-height:48px;
}
.c_comment h5{font-size:18px;color:#25a6a4;}
.c_comment small{font-size:12px;color:gray;font-weight:normal;}
#commentsForm textarea{
	margin-top:8px;margin-bottom:15px;
	padding:0.5% 1%;
	font-size:14px;line-height:24px;min-height:120px;
	color:#333;
	width:98%;
	border:1px solid #ddd;border-radius:3px;
	resize:none;
	position:relative;
}
#commentsForm textarea:before{
	content:'dfdf';
	width:10px;height:10px;background-color:black;
	position:absolute;
	top:0;left:0;
}
#commentsForm textarea:focus{
	border-color:#85c8c7;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1)
}
#comment_list_empty_tip{
	background-color:rgba(150,150,150,0.1);
	line-height:50px;height:50px;
	text-align:center;
	color:#ccc;text-shadow:1px 1px white;
	font-size:14px;font-weight:bold;
	border:1px solid #dfdfdf;
	border-radius:5px;
	cursor:default;
}
.commentsHead{
	height:34px;line-height:34px;
}
.commentsHead img{
	width:32px;height:32px;
	border:1px solid #bbb;
	border-radius:50%;
	margin:0 10px 0 5px;
	float:left;
}
.commentsHead span{
	color: #25a6a4;
	font-weight:bold;
	font-size:18px;
}
.commentsHead small{color: #aaa;}
.commentsHead i{
	cursor:pointer;
	color:#eee;
}
.commentsHead i:hover{color: #25a6a4;}

/*-----导航栏-----*/
.nav{
	height:30px;line-height:30px;font-size:12px;
	border:1px solid #ddd;border-radius:2px;
	margin-bottom:10px;cursor:default;
	background-color:white;
}
.nav a,
.nav span,
.nav b{
	padding:0 30px 0 15px;
	position:relative;
	font-weight:normal;
	display:inline-block;
}
.nav a:hover{
	color:#25a6a4;
}
.nav a:before,
.nav span:before,
.nav a:after,
.nav span:after{
	content:"";
	border-width:15px 0 15px 15px;
	border-style:solid;
	position: absolute;top:0;
}
.nav a:before,
.nav span:before{
	border-color:transparent #ddd;
	right:0;
}
.nav a:after,
.nav span:after{
	border-color:transparent white;
	right:1px;
}

/*购物进度*/
.progress{
	height:75px;
	position:relative;
}
.progress_step{
	width:33.333%;float:left;
	padding-top:4px;
	text-align:center;
}
.s_step{
	font-size:14px;
	display:inline-block;
	width:24px;height:24px;line-height:24px;
	border-radius:50%;
	position:relative;
	background-color:white;
	font-weight:bold;
	border:4px solid #ddd;
}
.s_step span{
	position:absolute;
	top:-4px;left:-4px;
	width:30px;height:30px;
	border-radius:50%;opacity:0;
	border:1px solid #25a6a4;
	animation:light_show 5s infinite linear;
}
.s_1{
	transform:scale(1.2);
	animation-delay:5s;
}
.s_2{
	transform:scale(1.4);
	animation-delay:3s;
}
@keyframes light_show{
	0%{opacity:0;}
	50%{opacity:0.6;}
	80%{opacity:0;}
	100%{opacity:0;}
}
.progress_step p{font-size:12px;margin-top:7px;}
.progress_line,
.progress_step_line{
	position:absolute;
	top:18px;left:0;
	height:4px;width:100%;
	border-radius:2px;
	z-index:-1;background-color:#25a6a4;
	width:33.33%;
}
.progress_line{
	z-index:-2;background-color:#ddd;
	width:100%;
}

.progress.progress_step_1 .progress_step:nth-child(1) .s_step,
.progress.progress_step_2 .progress_step:nth-child(2) .s_step,
.progress.progress_step_3 .progress_step:nth-child(3) .s_step{
	background-color:#25a6a4;color:white;
	border-color:#25a6a4;
}
.progress.progress_step_2 .progress_step_line{left:33.33%;}
.progress.progress_step_3 .progress_step_line{left:66.66%;}
/*购物车*/
.shopcart_list{line-height:1.7;border:1px solid #ddd;}
.removeBtn{
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 1px white inset;
	height:26px;line-height:26px;
	padding-right:8px;margin-top:15px;
	display:inline-block;
	cursor:pointer;
}
.removeBtn i{
	float:left;padding:0 8px;margin-right:8px;
	height:26px;line-height:26px;
	border-right: 1px solid #ccc;
}
.removeBtn:hover{
	color:#555;
	background-color: #e9e9e9;
	border-color:#bbb;
	box-shadow:0 0 3px rgba(0,0,0,0.2);
}
.shopcart_head{
	background-color:#555;color:white;
	font-weight:bold;font-size:16px;
	padding-left:20px;
	height:50px;line-height:50px;
	text-align:left;
}
.shopcart_list th{
	background-color:#fafafa;
}
.shopcart_list td{
	border-top:1px solid #ddd;
}
.shopcart_list td.vatop{vertical-align:top;}
.shopcart_list img{
 	width:140px;height:140px;
}
.shopcart_goods_name h3{color:#333;font-size:14px;}
.shopcart_goods_name li{
	font-size:12px;color:gray;
}
.shopcart_list input[type="checkbox"]{
	opacity:0;cursor:pointer;width:20px;height:20px;margin:0;}
.shopcart_list span.icon-check{display:none;}
.shopcart_list input[type="checkbox"]:checked ~ span.icon-check{display:inline-block;}
.shopcart_list input[type="checkbox"]:checked ~ span.icon-check-empty{display:none;}

/*创建订单*/
.orderPrice,
.orderQuantity,
.editPrice,
.editQuantity{
	padding:5px 10px;
	max-width:100px;overflow:hidden;
	display:inline-block;
	border:1px solid white;
}
.orderPrice,
.orderQuantity{
	font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
	font-weight:bold;text-align:center;
	cursor:pointer;
}
.editPrice,
.editQuantity{
	border-color:#999;border-radius:3px;
	background-color:#ffc;cursor:text;
	box-shadow:inset 2px 2px 3px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.3);
}

/*创建订单客户信息*/
.create_order_userinfo{
	float:right;width:29%;
	background-color:white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.create_order_userinfo dd{
	padding-left:10px;padding-right:10px;padding-top:10px;
	position:relative;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.create_order_userinfo dd.hidden{height:0;padding-top:0;padding-bottom:0;opacity:0}
.create_order_userinfo_input,
.create_order_userinfo_input input[type=text]{
	height:30px;line-height:30px;
}
.create_order_userinfo_input input[type=text]{
	float:left;
}
.create_order_userinfo_input,
.create_order_userinfo_textarea{
	border:1px solid #bbb;border-radius:3px;
}
.create_order_userinfo_input input[type=text]{
	border:0 none;outline:0 none;
	margin-left:32px;width:228px;
	text-indent:0.7em;
	box-sizing:border-box;
}
.create_order_userinfo_input input[type=text]:focus,
.create_order_userinfo_textarea:focus{
	background-color:#ffe;
	box-shadow:inset 2px 2px 3px rgba(0,0,0,.1),inset 1px 1px white;
}
.create_order_userinfo_input input[type=text]:focus~i{
	background-color:#dee;box-shadow:none;color:#066;
}
.create_order_userinfo_textarea{
	margin-bottom:10px;
	display:block;
	width:100%;padding:5px 10px;
	box-sizing:border-box;
	height:120px;
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
	resize:none;
}
.create_order_userinfo_input i{
	position:absolute;text-align:center;
	left:12px;top:11px;
	background-color:#eee;border-right:1px solid #bbb;
	width:30px;height:30px;line-height:30px;
	box-shadow:inset -1px -1px white;
	text-shadow:1px 1px white;
}
.create_order_userinfo label{
	cursor:pointer;
	font-size:12px;text-align:center;font-weight:bold;
	width:50%;height:32px;line-height:32px;
	display:inline-block;
	padding-right:10px;
	border:1px solid #ccc;
	box-sizing:border-box;
}
.create_order_userinfo label:nth-child(1){
	border-radius:3px 0 0 3px;
	border-right-color:white;
}
.create_order_userinfo label:nth-child(2){
	border-radius:0 3px 3px 0;
}
.create_order_userinfo label.On{
	background-color:#888;border-color:#888;color:white;
	position:relative;
}
.create_order_userinfo label.On:before{
	content:"";width:0;height:0;
	position:absolute;bottom:-8px;left:50%;
	margin-left:-8px;
	border-width:8px 8px 0;
	border-style:solid;
	border-color:#888 transparent;
}
#createBtn{
	margin:0;padding:0;
	display:block;width:100%;
	font-size:16px;font-weight:bold;
	border:none 0;
	background-color:#57c1bf;color:white;
	height:54px;cursor:pointer;
	border-radius:3px;
	text-shadow:0 0 5px #088;
}
#createBtn:hover{
	background-color:#088;
}
/*创建成功信息*/
.order_success{
	padding:25px;border:1px solid #ccc;
	margin-bottom:50px;
	background-color:white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.order_success dd{
	border-top:1px dashed #ddd;
	padding:10px;
	font-size:14px;
}
.success_tip{
	font-size:22px;
	color:#088;
	font-weight:bold;
	padding-left:10px;
	padding-bottom:10px;
}
.order_link{color:#099;border-bottom:1px dashed #099;}
