

/*-----登录插件------*/
/*#singn_menu{
	position:fixed;z-index:10;
	bottom:0;left:0;
	border-top:1px solid #b9d5d5;
	border-bottom:1px solid #d5efef;
	width:100%;height:42px;line-height:42px;
	background-color:#d4e1e1;
	box-shadow:-2px 0 15px rgba(0,0,0,0.1);
}
#singn_menu span,#singn_menu a{
	font-size:14px;color:#004c4b;
}
#singn_menu img{
	width:45px;height:45px;
	border-radius:50%;
	display:inline-block;
	background-color:white;
	border:5px solid #b9d5d5;
	float:left;
	margin-top:-15px;margin-right:10px;
}*/
/*-----海报----*/
.bannerFrame,
.banner li{
	height:500px;width:800px;
	overflow:hidden;
}
.banner{width:9999px;padding:0;}
.banner img{width:900px;}
.bannerFrame{position:relative;margin-bottom:20px;}
.banner li{
	float:left;
	list-style:none;
	position:relative;
}
.txtBg{
	position:absolute;
	top:-30%;
	width:80%;height:200%;
	transform:rotate(-30deg);
	/*background-color:rgba(0,0,0,0.4);*/
	left:-200%;opacity:0;
}
.banner li.Stand .txtBg{
	animation:txtBgShow 0.5s linear;
	animation-fill-mode:forwards;
}
@keyframes txtBgShow{
	100%{opacity:0.6;left:-35%;;}
}
.banner li h3,
.banner li p{
	position:absolute;
	left:30px;color:white;opacity:0;
	transform:translateY(20px);
}
.banner li h3{
	bottom:35%;width:40%;padding-bottom:5px;
	transform:translateY(20px);
}
.banner li p{
	top:66%;width:45%;font-size:14px;
	transform:translateY(-10px);
}
.banner li.Stand h3,
.banner li.Stand p{
	animation:showUp 0.2s linear;
	animation-fill-mode:forwards;
}
.banner li.Stand h3{
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
	animation-delay:0.5s;
}
.banner li.Stand p{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	-ms-animation-delay:1s;
	animation-delay:1s;
}
@keyframes showUp{
	100%{opacity:1;transform:translateY(0);}
}
.JDT{
	position:absolute;left:30px;
	bottom:35%;width:40%;height:1px;
	background-color:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.3);
}
.JDT.onLoad:before{
	content:'';position:absolute;
	height:1px;background-color:rgba(255,255,255,0.9);
	width:0;
	animation:onLoad 6.5s linear;
	animation-fill-mode:forwards;
}
@keyframes onLoad{
	80%{width:100%;}
	100%{width:100%;}
}

.news_img_list li{
	display:inline-block;margin-right:10px;
	background-color:white;
	border-radius:3px;border:1px solid #ccc;
	width:100px;height:100px;line-height:100px;overflow:hidden;
}
.news_img_list img{
	width:100px;
	vertical-align:middle;
}


.btnBg{
	position:absolute;left:0;bottom:15px;
	/*background-color:rgba(0,0,0,0.1);*/
	padding-left:30px;height:36px;
}
.btnBg span{
	height:14px;width:14px;
	border:2px solid white;
	border-radius:50%;
	display:inline-block;
	margin:10px 8px 0;
	position:relative;
	cursor:pointer;
}
.btnBg span:before{
	content:"";
	position:absolute;left:0;right:0;
	background-color:rgba(255,255,255,1);
	height:14px;width:14px;
	border-radius:50%;
	transform:scale(0);
	transition:all 0.3s;
}
.btnBg span.On:before,
.btnBg span:hover:before{
	transform:scale(0.7);
}


.loadingFrame{
	width:100%;height:100%;
	background-color:#1ea6ce;color:white;
	font-family:sans-serif;
	position:relative;z-index:1;
	text-align:center;
}
.loadingFrame dt{
	padding-top:10%;
	font-size:26px;
}
.loadingFrame dd{
	background-color:white;
	display:inline-block;
	width:10px;height:10px;border-radius:5px;
}

.content_frame{
	border-radius:3px;
	border:1px solid #ddd;
	padding:0 1.5% 1.5%;
}
.content_frame h2{
	border-bottom:1px solid #ddd;padding-bottom:10px;
}
.content_frame img{max-width:100%;}


/*---------------文章首页------------*/
/*.bg_zindex{position:relative;z-index:1;}*/
.bg_fixed{
	position:fixed;top:0;left:0;z-index:-1;
	width:100%;height:100%;
	background-position:right top;
	background-repeat:no-repeat;
	background-image:linear-gradient(-30deg, rgba(100,100,100,0.1) 50%, transparent 50%);
	background-size:100% 100%;
}
.news_list{
	cursor:default;
}
.news_list_info{
	font-size:12px;color:#666;
	height:24px;line-height:24px;
	/*margin-bottom:4px;*/
	margin-top:20px;
	position:relative;
	background-color:rgba(0,0,0,0.1);
	border-radius:3px 3px 0 0;
	box-shadow:inset -1px 1px rgba(30,30,30,0.1);
}
.news_list_info_line{
	height:1px;background-color:rgba(255,255,255,0.3);
	position:relative;z-index:1;margin-top:-1px;
}
.news_list_tag{
	background-color:#25a6a4;
	padding:0 6px;border-radius:3px 3px 3px 0;
	margin-right:15px;
	color:white;
	display:inline-block;
	position:relative;
}
.news_list_tag:after{
	content:"";
	border-style:solid;border-width:10px 0 10px 10px;
	border-color:transparent #25a6a4;
	position:absolute;top:2px;right:-6px;
}
.news_list_content,
.news_content{
	background-color:white;
	border:1px solid #ccc;
	box-shadow:2px 2px 3px rgba(0,0,0,0.1);
	border-radius:0 0 3px 3px;
	padding:1.5% 2.5%;
}
.news_list_content h2 a{
	color:#25a6a4;text-decoration:none;
}
.news_list_content h2 a:visited {color:#189593;}
.news_list_content p,
.admin_news_list_content{
	padding-bottom:10px;
	font-size:14px;color:#666;
	line-height:1.7em;
}
.news_list_content p{padding-top:10px;}
.loadMore{
	border:1px solid #ddd;
	border-radius:5px;
	text-align:center;
	background-color:#f2f2f2;
	line-height:2.4em;
	font-size:14px;
	margin-top:15px;
	text-shadow:1px 1px white;
	box-shadow:inset 1px 1px white;
	color:#333;cursor:pointer;
}
.loadMore:hover{
	background-color:#efefef;
	border-color:#ccc;
	box-shadow:inset 1px 1px white,2px 2px 2px rgba(0,0,0,0.1);
}
.loadMore:active{
	background-color:#f9f9f9;
	box-shadow:inset 1px 1px white
}
/*----------新闻详情页----------*/
.news_content h2{
	color:#25a6a4;
}
.news_content img{
	max-width:100%;
}
/*评论区*/
.comment{
}
.comment h6{
	background-color:#eaffff;
	color:#004847;
	font-size:1em;
	line-height:36px;
	height:36px;
	padding-left:15px;
}
.c_body{
	padding:10px 2.5% 10px 60px;
	font-size:14px;
	position:relative;
	border-bottom:1px dashed #ddd;
}
.c_bing{
	background-color:rgba(230,255,255,0.3);
	transform:translateY(-30%);
	animation: twinkling 1s infinite ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	-webkit-transform:translateY(-30%);
	-webkit-animation: twinkling 1s infinite ease-in-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode:forwards;
}
@keyframes twinkling{
	0%{
		opacity:0;
		transform:translateY(-30%);
	}
	100%{
		opacity:1;
		transform:translateY(0);
	}
}
@-webkit-keyframes twinkling{
	0%{
		opacity:0;
		-webkit-transform:translateY(-30%);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
	}
}
div.c_body{
	border:1px solid #85c8c7;
	background-color:#f3fefe;
	border-radius:5px;
	margin-top:15px;
	box-shadow:inset 2px -2px white);
}
div.c_body:after,
div.c_body:before{
	content:"";
	position:absolute;left:20px;
	border-style:solid;
	border-width:0 10px 10px;
}
div.c_body:before{
	border-color:#85c8c7 transparent;
	top:-10px;
}
div.c_body:after{
	border-color:#f3fefe transparent;
	top:-9px;
}
.c_avatar{
	width:34px;height:34px;
	overflow:hidden;
	border-radius:22px;
	background-color:white;
	border:1px solid #25a6a4;
	position:absolute;
	left:10px;top:15px;
}
.c_avatar img{
	height:32px;
	width:32px;
}
.c_comment{
	line-height:24px;
	min-height:48px;
}
.c_comment h5{font-size:18px;color:#25a6a4;}
.c_comment small{font-size:12px;color:gray;font-weight:normal;}
#commentsForm textarea{
	margin-top:8px;margin-bottom:15px;
	padding:0.5% 1%;
	font-size:14px;line-height:24px;min-height:120px;
	color:#333;
	width:98%;
	border:1px solid #ddd;border-radius:3px;
	resize:none;
	position:relative;
}
#commentsForm textarea:before{
	content:'dfdf';
	width:10px;height:10px;background-color:black;
	position:absolute;
	top:0;left:0;
}
#commentsForm textarea:focus{
	border-color:#85c8c7;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1)
}
#comment_list_empty_tip{
	background-color:rgba(150,150,150,0.1);
	line-height:50px;height:50px;
	text-align:center;
	color:#ccc;text-shadow:1px 1px white;
	font-size:14px;font-weight:bold;
	border:1px solid #dfdfdf;
	border-radius:5px;
	cursor:default;
}
.commentsHead{
	height:34px;line-height:34px;
}
.commentsHead img{
	width:32px;height:32px;
	border:1px solid #bbb;
	border-radius:50%;
	margin:0 10px 0 5px;
	float:left;
}
.commentsHead span{
	color: #25a6a4;
	font-weight:bold;
	font-size:18px;
}
.commentsHead small{color: #aaa;}
.commentsHead i{
	cursor:pointer;
	color:#eee;
}
.commentsHead i:hover{color: #25a6a4;}

/*-----导航栏-----*/
.nav{
	height:30px;line-height:30px;font-size:12px;
	border:1px solid #ddd;border-radius:2px;
	margin-bottom:10px;cursor:default;
	background-color:white;
}
.nav.wrap{padding-left:0;padding-right:0;}
.nav a,
.nav span,
.nav b{
	padding:0 30px 0 15px;
	position:relative;
	font-weight:normal;
	display:inline-block;
}
.nav a:hover{
	color:#25a6a4;
}
.nav a:before,
.nav span:before,
.nav a:after,
.nav span:after{
	content:"";
	border-width:15px 0 15px 15px;
	border-style:solid;
	position: absolute;top:0;
}
.nav a:before,
.nav span:before{
	border-color:transparent #ddd;
	right:0;
}
.nav a:after,
.nav span:after{
	border-color:transparent white;
	right:1px;
}



