
block append /head
	link(rel="stylesheet",href="/css/sign.css")
	
form.sign_form#signinModal.pf
	.sign_form_head &nbsp;
		i.icon-lock
		span 用户登录
	ul.sign_form_content
		li
			input#signName.signName.form_control(name="user[name]", type="text", placeholder="请输入用户名")
			label(for="signName")
				i.icon-user
		li
			input#signPassword.signPassword.form_control(type="password", placeholder="请输入密码")
			label(for="signPassword")
				i.icon-key 
		li.captchaContainer
			input#captcha.captcha.form_control.fl(type="text", placeholder="请输入验证码",maxlength="4")
			label(for="captcha")
				i.icon-lock
			span.cp.changeCaptcha.inlineBlock.ml10 !{captcha.data}
		li.sign_tip
			i.icon-question-sign
			| &nbsp;还没有注册会员？
			a.cBlue.textUnderline(href="signup") 点击注册
		
	.sign_form_foot.cd
		button.button.button-raised.button-primary#signinBtn(signtype="signin", type="submit") 登 录
		.sign_form_foot_info
			h6(style="color:#25a6a4") VINTE
			p(style="color:#25a6a4") 备案编号:110105000501<br />Copyright © 2017 www.vinte.xin All Rights Reserved
script(src="js/jquery.vtEnterKeyPress.js")
script(src="/js/sign.js")
script.
	$(function(){
		var Href = window.location.href
		if(Href.indexOf('inquirylist') > -1){
			document.getElementById('signinBtn').setAttribute('signtype', 'inquirylist')
		}
		// 设置用户登录参数
		var signinConfig = [
			{
				element: $('#signName'),
				unkeynumber: [32,59,188,190,191,219,220,221,222],
				errorText: "请输用户名！"
			},
			{
				element: $('#signPassword'),
				unkeynumber: [32],
				errorText: "请输入密码！"
			},
			{
				element: $('#captcha'),
				unkeynumber: [32],
				errorText: "请输入验证码！"
			}
		]
		$('.sign_form_content').enterKeyPress(signinConfig)

		$('#signinBtn').click(function(){
			CheckInputValue(signinConfig, $(this), 'signin', window.location.href)
			return false
		})

		// 弹出框
		$('[data-toggle="modal"]').click(function() {
			var Target = $(this).attr('data-target');
			if ($(this).children('i').length > 0) {
				$.artConfim('用户未登录状态下，商品是不可以收藏的，是否登录？', 'confimFrame', 'zh_cn', function(info){
					if(!info){
						PopUpModal ()
					} else {
						$.artTip('取消操作', 800)
					}
				})
			} else {
				PopUpModal ()
			}
			function PopUpModal () {
				$('body').append('<div class="modal_bg modal_close"'+
							' style="background-color:rgba(0,0,0,0.5);'+
							'position:fixed;top:0;left:0;'+
							'width:100%;height:100%;z-index:100;">');
				$(Target).fadeIn().find('input[type=text]:first').focus();
				$('.modal_close').click(function(){
					$('.modal_bg').fadeOut('fast',function(){
						$(this).remove()
					});
					$(Target).fadeOut('fast')
				})
			}
		})
	})