extends ../layout_index
block content
	.fiter-head-wrap.cd
		dl.fiter-head.wrap
			dt.first-span 商品搜索
			dd
				span
					a.block(href="/store" title="全部商品"): i.icon-home
				span.cWhite
					i.icon-search
				span.second-span
					| 关键字：
					b.base-color-dark " #{keyword} "
				span.second-span
					| 搜索到
					b.base-color-dark  #{goods_total} 
					| 件商品
	include ../../../themplate/fiter_bar
	#goods-wrap.wrap.pt15
		if goods && goods.length > 0
			each item,index in goods
				include ../../../themplate/goods
		else
			.search-empty-tip.bg-slash.bg-gray
				p 
					i.icon-exclamation-sign.mr10
					|没有找到相关的商品 :(
		
		.page.mt15.mb30
			include ../../../themplate/page