extends ../layout_index
//- block append head
//- 	link(rel="stylesheet" href="/css/goods/item.css")
block content
	include ../../../themplate/fiter_bar
	#goods-wrap.wrap.pt10.pb20
		if goods && goods.length > 0
			each item,index in goods
				include ../../../themplate/goods
		else
			.search-empty-tip.bg-slash.bg-gray
				p 
					i.icon-exclamation-sign.mr10
					|没有找到相关的商品 :(
		.page.mt20.mb10.ml10
			include ../../../themplate/page