extends ../layout_index

block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store") store
			a(href="/inquirylist") inquiry list
			b create inquiry list success
		div.progress.progress_step_3
			div.progress_step
				span.s_step 1
				p INQUIRY LIST
			div.progress_step
				span.s_step 2
				p INQUIRY LIST INFO
			div.progress_step
				span.s_step 3
					span.s_1
					span.s_2
				p SUCCESS
			div.progress_line
			div.progress_step_line
		.shopcart_head
			i.icon-ok-circle.mr10
			| CREATE INQUIRY LIST SUCCESS
		dl.order_success
			dt.success_tip
				i.icon-ok-circle.mr10
				| 询价单创建成功！
			dd: span.cGray 创建时间：#{moment(order.data).format('YYYY-MM-DD dddd HH:mm:ss')}
			dd
				span.cGray 订单编号：
				a.order_link(href="/user/order/#{order.id}") #{order.id}
			dd(style="color:#088") 我们会在创建时间之后的5个工作内通过电子邮箱或你的联系电话回复你，请耐心等待！
			dd
				p.pb10.cGray 你可通过以下方式进行访问：
				a.button.button-primary.button-small(href="/user/order") 我的订单
				a.button.button-primary.button-small.ml10(href="/store") 浏览商城
				a.button.button-primary.button-small.ml10(href="/index") 首页
	.bg_fixed