extends ../layout_index
block append head
	link(href="/css/goods/item.css",rel="stylesheet")
block content
	.fiter-head-wrap.cd
		dl.fiter-head.wrap
			dt.first-span 商品搜索
			dd
				span.search-icon: i.icon-search
				span.second-span
					| 关键字：
					b.base-color-dark " #{keyword} "
				span.second-span
					| 搜索到
					b.base-color-dark  #{products_total} 
					| 件商品
	include ../themplate/fiter_bar
	.wrap.iproduct_list
		.category_list
		.sub-product-frame-row4
			if products && products.length > 0
				each item in products
					.sub-page-product(id=item.id)
						include ../themplate/goods
			else
				.search-empty-tip.bg-slash.bg-gray
					p 
						i.icon-exclamation-sign.mr10
						|没有找到相关的商品 :(
		
		.page.mt15.mb30
			- url_public = url_pathname+'?q='+keyword+url_key+'&'
			include ../themplate/page
	script(src="/js/shopcart.js")