extends ../layout_index

block content
	.sign_bg.blur(style="background-image:url(#{bgsrc})")
	.sign_form
		.sign_form_head &nbsp;
			i.icon-edit
			span #{title}
		form(method="POST", action="/user/signup")
			ul.sign_form_content
				li
					label(for="signupName") &nbsp;
						i.icon-user 
						| &nbsp;用户名
					input#signupName.form-control(name="user[name]", type="text", placeholder="请输入用户名")
				li
					label(for="signupPassword") &nbsp;
						i.icon-key
						| &nbsp; 密码
					input#signupPassword.form-control(name="user[password]",type="password", placeholder="请输入密码")
				li.sign_tip
					i.icon-question-sign 
					| &nbsp;已经注册了会员？
					a.cBlue.textUnderline(href="signin") 点击登录
			
			.sign_form_foot
				button.button.button-raised.button-primary(type="submit") 注 册
				.sign_form_foot_info
					h6 IMOOC
					p 基于NodeJs+MongoDB搭建的电影网站 <br /> 备案编号:110105000501 Copyright © 2006-2017
	h3.bgword
		i.icon-quote-left.icon-3x.pull-left
		| #{bgword}