extends ../layout_index
block append head
	link(href="/css/product.css",rel="stylesheet")
block content
	include ../themplate/fiter_bar.jade
	.wrap.pt10
		.overflow-hidden.pb20
			if products && products.length > 0
				.sub-product-frame-row4
					each item in products
						.sub-page-product(id=item.id)
							include ../themplate/product.jade
			else
				.search-empty-tip.bg-slash.bg-gray
					p 
						i.icon-exclamation-sign.mr10
						|没有找到相关的商品 :(
			.page.mt20.mb10.ml10
				- if( url_key ){
				-	url_public = url_pathname+'?'+url_key+'&'
				- } else {
				-	url_public = url_pathname+'?'
				- }
				include ../themplate/page.jade
	script(src="/js/shopcart.js")