extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-picture
			| #{title}
		.contentpanel
			form.form_horizontal(method="post", action="/admin/news/category")
				if newscategory._id
					input(type="hidden", name="newscategory[_id]", value=newscategory._id)
				.form_group
					label.control_label(for="inputCategory") 文章分类
					.control_div
						input#inputCategory.form_control(type="text", name="newscategory[name]", value=newscategory.name)
				.form_group
					label.control_label
					.control_div
						button.button.button-raised.button-primary(type="sumbit") 录入