doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		block head
			script(src="/libs/jquery/dist/jquery.min.js")
			script(src="/js/moment.js")
			//- Buttons 库的核心文件
			link(rel="stylesheet",href="/css/buttons.css")
			link(href="/css/base.css",rel="stylesheet")
			link(href="/css/style.css",rel="stylesheet")
			link(href="/css/font-awesome.css",rel="stylesheet")
	body
		include ./includes/header
		block content
		//- include ./includes/sign_menu
		include ./includes/footer